$font-family: "InterTight";
$bg-color: #e5edf7;
$color: #133a66;
$accent-color: #4995ec;
$light-color: #f3f9ff;
$light2-color: #deedff;
$gradient-color-accent: #4995ec;
$gradient-color-light: #83cae8;
$gradient: linear-gradient(
  134.71deg,
  $gradient-color-accent 0%,
  $gradient-color-light 99.741%
);
//base
$color-white: #fff;
$max-width: 1880px;
$font-size: clamp(1rem, 0.7143rem + 0.5714vw, 1.25rem);
$margin: clamp(0.625rem, -0.4688rem + 2.5vw, 1.25rem);

@import "vendor/mixins";
@import "vendor/fonts";
@import "vendor/_normalize";
@import "vendor/header";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  min-inline-size: 285px;
  margin: 0 auto;
  font-family: sans-serif;
  letter-spacing: 0;
  font-size: $font-size;
  font-weight: 400;
  background-color: $bg-color;
  color: $color;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
    @media screen and (width<=500px) {
      width: 5px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $light-color;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $accent-color;
  }
}

html.burger-lock {
  overflow-y: hidden;
}

.page {
  padding-inline: $margin;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: $font-family, sans-serif;
  }
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  &__picture {
    flex-shrink: 0;

    img {
      max-width: 35px;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    color: $accent-color;
    font-weight: 500;
  }
}

.btn {
  border-radius: 10px;
  padding: 12px 16px 15px;
  transition: background-color 400ms, color 400ms, outline 300ms ease-out;
  outline: 2px solid transparent;

  &_social {
    cursor: pointer;
    outline: 1px solid transparent;
    transition: outline 300ms ease-out, scale 300ms ease-out;
  }

  &_social:hover {
    outline: 1px solid $accent-color;
    scale: 1.015;
  }

  &_accent {
    background-color: $accent-color;
    color: $color-white;

    &:hover,
    &:active {
      background-color: $light-color;
      outline: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  span {
    margin-inline-start: 20px;
    font-weight: 600;
    font-size: clamp(1rem, 0.2553rem + 1.7021vw, 1.5rem);
    line-height: 1.4;
  }

  .point-mark {
    flex-shrink: 0;
    background-color: #ffffff33;
  }

  .point-mark::before {
    transition: transform 300ms ease-in-out;
  }

  &:hover {
    .point-mark::before {
      transform: rotate(90deg);
    }
  }

  &_light {
    background-color: $color-white;
    color: $accent-color;

    &:hover,
    &:active {
      background-color: $light-color;
      outline: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  &_call {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .point-mark {
      background-color: $light-color;
    }
  }

  &_consult {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .point-mark {
      width: 80px;

      span {
        background-color: $color-white;
        border-radius: 3px;
        transition: background-color 300ms;
        position: absolute;
        margin: 0;
        transition: transform 300ms ease-out;
      }

      span:first-of-type {
        width: 17px;
        height: 3px;
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 8px);

        @media screen and (width<=1200px) {
          width: 14px;
          height: 2px;
          top: calc(50% - 1px);
          left: calc(50% - 7px);
        }

        @media screen and (width<=600px) {
          width: 12px;
          height: 2px;
          left: calc(50% - 6px);
        }
      }

      span:last-of-type {
        width: 3px;
        height: 16px;
        top: calc(50% - 9px);
        left: calc(50% - 1px);

        @media screen and (width<=1200px) {
          width: 2px;
          height: 14px;
          top: calc(50% - 7px);
        }

        @media screen and (width<=600px) {
          width: 2px;
          height: 12px;
          top: calc(50% - 6px);
        }
      }
    }

    &:hover,
    &:active {
      box-shadow: 1px 3px 10px -4px $accent-color;

      .point-mark {
        span {
          background-color: $accent-color;
          transform: rotate(90deg);
        }
      }
    }
  }
}

.point-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: $light-color;
  border-radius: 10px;
  position: relative;
}

.point-map::before {
  @include point-mark-psevdo;
  background-image: url(/assets/img/icons/point-map.svg);
}

.point-tel::before {
  @include point-mark-psevdo;
  background-image: url(/assets/img/icons/tel.svg);
}

.point-tg::before {
  @include point-mark-psevdo;
  background-image: url(/assets/img/icons/tg.svg);
}

.point-wa::before {
  @include point-mark-psevdo;
  background-image: url(/assets/img/icons/wa.svg);
}

.point-plus::before {
  @include point-mark-psevdo;
  background-image: url(/assets/img/icons/plus.svg);
  @media screen and (width<=700px) {
    background-size: 75%;
  }
}

.point-menu::before {
  @include point-mark-psevdo;
  background-image: url(/assets/img/icons/cuboid.svg);
}

.point-card::before {
  @include point-mark-psevdo;
  background-image: url(/assets/img/icons/user-card.svg);
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: clamp(1.25rem, 1.0634rem + 0.597vw, 1.5rem);
  font-weight: 600;
  line-height: 1.2;
  transition: background-color 400ms, color 200ms;

  &__point {
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline 400ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.375rem, -0.0904rem + 1.0638vw, 0.6875rem);
    background-color: $color-white;
    border-radius: 50%;
  }

  &:hover {
    color: #b1d5ff;

    &__point {
      outline: 2px solid $accent-color;
      outline-offset: -1px;
    }
  }

  svg {
    width: clamp(1.125rem, 0.6596rem + 1.0638vw, 1.4375rem);
  }
}

.social-tg {
  padding: clamp(0.5rem, 0.0346rem + 1.0638vw, 0.8125rem)
    clamp(0.5rem, 0.0346rem + 1.0638vw, 0.8125rem)
    clamp(0.4375rem, -0.0279rem + 1.0638vw, 0.75rem)
    clamp(0.25rem, -0.2154rem + 1.0638vw, 0.5625rem);
}

.breadcrumbs {
  &__list {
    display: flex;
    flex-direction: row;
    gap: clamp(1.625rem, 0.9821rem + 1.7143vw, 2.375rem);
    line-height: 1.2;

    @media (width<=600px) {
      padding-inline-start: 10px;
      flex-direction: column;
      gap: 6px;
    }
  }

  &__item {
    position: relative;

    &:not(:first-child)::before {
      content: "";
      display: block;
      width: 7px;
      aspect-ratio: 1/1;
      background-color: $accent-color;
      border-radius: 50%;
      position: absolute;
      left: clamp(-1.3125rem, 0.4375rem + 1vw, -1.6875rem);
      top: 30%;

      @media screen and (width<=600px) {
        left: -10px;
      }
    }

    &:not(:last-child) {
      opacity: 0.5;
    }
  }

  a {
    &:hover {
      color: $accent-color;
    }
  }

  @media screen and (width<=600px) {
    &__item {
      gap: 8px;

      &::before {
        left: -10px;
      }
    }

    &__item.menu_point {
      &::before {
        background-color: $accent-color;
        background-image: none;
        border-radius: 50%;
        width: 6px;
      }
    }
  }
}

.hide {
  display: none !important;
}

.hide-item__height {
  transition: height 0.3s linear;
  overflow: hidden;

  @media (width>700px) {
    &:not(.menu__subnav) {
      height: 0;
    }
  }

  @media (width<=700px) {
    height: 0;
  }
}

.btn_more {
  display: none;

  &.active {
    display: flex !important;
  }
}

.input {
  padding: 28px;
  border-radius: 16px;
  font-size: clamp(0.875rem, 0.5536rem + 0.8571vw, 1.25rem);
  outline: 1px solid transparent;
  transition: outline 350ms;

  &:active,
  &:focus {
    outline: 1px solid $accent-color;
  }

  &::placeholder {
    opacity: 0.5;
  }

  @media screen and (width<=1000px) {
    padding: 20px;
  }

  @media screen and (width<=800px) {
    border-radius: 12px;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.75rem, 0.5357rem + 0.5714vw, 1rem);
  color: rgb(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 1px solid $color-white;
    width: 24px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 16px;
      aspect-ratio: 1/1;
      background: url(/assets/img/icons/checkbox.svg) no-repeat center center;
      background-size: cover;
      opacity: 0;
      transition: opacity 200ms;
    }
  }

  input[type="checkbox"]:checked ~ .checkbox-mark::before {
    opacity: 1;
  }

  a {
    color: rgb(255, 255, 255, 1);
  }
}

.slider-hl {
  position: relative;
}

.swiper-btn {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(3.125rem, -2.0313rem + 7.5vw, 5rem);
  aspect-ratio: 1/1;
  position: relative;
  outline: 1px solid transparent;
  transition: background-color 300ms, outline 300ms;

  &-container {
    position: absolute;
    top: clamp(1.5rem, -0.5263rem + 5.8947vw, 5rem);
    right: clamp(1.25rem, -1.6447rem + 8.4211vw, 6.25rem);
    display: flex;
    gap: 14px;

    @media screen and (width<=1000px) {
      display: none;
    }
  }

  &::before {
    content: "";
    width: 18px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &_left {
    rotate: 180deg;
    background-color: $light-color;

    &:hover {
      outline: 1px solid $accent-color;
    }

    &::before {
      background-image: url(/assets/img/icons/arrow-blue.svg);
    }
  }

  &_right {
    background-color: $accent-color;

    &:hover {
      outline: 1px solid $accent-color;
    }

    &::before {
      background-image: url(/assets/img/icons/arrow.svg);
    }
  }
}

@import "vendor/intro";
@import "vendor/metods";
@import "vendor/situation";
@import "vendor/center";
@import "vendor/services";
@import "vendor/principles";
@import "vendor/calculator";
@import "vendor/doctors";
@import "vendor/preparation";
@import "vendor/why-choose";
@import "vendor/brigady";
@import "vendor/express-test";
// @import "vendor/scheme";
// @import "vendor/offers";
// @import "vendor/reviews";
@import "vendor/lechenie-form";
// @import "vendor/baza-znaniy";
@import "vendor/faq";
@import "vendor/contacts";

@import "vendor/installment";
@import "vendor/prices";
@import "vendor/text";

@import "vendor/doctor";

@import "vendor/vacancies";

@import "vendor/photos";

@import "vendor/law-pages";

@import "vendor/stocks";

@import "vendor/popups";
@import "vendor/footer";
