$font-family: "InterTight";
$bg-color: #e5edf7;
$color: #133a66;
$accent-color: #4995EC;
$gradient-color-accent: #4995EC;
$gradient-color-light: #83CAE8;
//base color
$color-white: #fff;

@import 'vendor/fonts';
@import 'vendor/_normalize';
@import 'vendor/header';

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
}

body {
	min-inline-size: 320px;
	margin: 0 auto;
	font-family: sans-serif;
	letter-spacing: 0;
	font-size: 20px;
	font-weight: 400;
	background-color: $bg-color;
	color: $color;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: $font-family, sans-serif;
	}
}

@import 'vendor/footer';
@import 'vendor/intro.scss';