<section class="text-section text-block">
	<div class="content">
		<h2>
			<span>
				О нашей клинике
			</span>
		</h2>
		<p>Анонимный наркологический центр в Екатеринбурге предоставляет возможность вызвать на дом врача-нарколога. Это
			позволяет каждому столкнувшемуся с <b>зависимостью</b> от алкоголя или наркотиков получить современную медицинскую
			помощь.</p>
		<p>По статистике, 9 из 10 пациентов, прошедших все этапы предложенной в клинике терапии до конца, никогда не
			возвращаются к вредному пристрастию.</p>
		<p>Лечение проходит под контролем штата опытных врачей:</p>
		<ul>
			<li>наркологов;</li>
			<li>психотерапевтов;</li>
			<li>реаниматологов;</li>
			<li>врачей узкой специализации;</li>
			<li>терапевтов.</li>
		</ul>
		<p>При избавлении от аддикций используются методики, доказавшие свою эффективность и безопасность, качественные
			препараты и приборы диагностики.</p>
		<p>Цель терапии – не только побороть зависимость, но и сохранить здоровье пациента. Самолечение или обращение за
			помощью к людям, не имеющим медицинского образования и лицензии, может стоить человеку жизни. Этиловый спирт и
			разные виды наркотиков влияют на внутренние метаболические процессы, и их резкая отмена, проводимая не <b>под
				контролем врача</b>, может спровоцировать необратимые изменения в организме:</p>
		<ul>
			<li>сердечно-сосудистые катастрофы;</li>
			<li>отказ печени;</li>
			<li>функциональная почечная недостаточность.</li>
		</ul>
		<blockquote>Благодаря индивидуальному и комплексному подходу к лечению наркомании и алкоголизма врачи
			наркологического центра гарантируют полное избавление от разрушающего жизнь пристрастия. После завершения
			реабилитации человек начинает жизнь с чистого листа, оставив непростой период своей жизни позади.</blockquote>
		<h2><span>Преимущества наркологического центра</span></h2>
		<p>Врачи частного центра для помощи наркозависимым оказывают все услуги конфиденциально: любая информация о
			состоянии пациента, его проблемы и факта обращения к врачу наркологу остаётся полностью закрытой.</p>
		<p>Пациентов не ставят на учет, поэтому после <b>выздоровления</b> можно не опасаться, что факт лечения в наркологии
			повлияет на дальнейшую жизнь.</p>
		<p>Также в частной клинике применяются более современные методики и качественные препараты, нежели в бюджетном
			наркологическом диспансере. Это позволяет сокращать время терапии: например, вывести человека из длительного
			двухнедельного запоя можно всего за несколько часов.</p>
		<h2><span>Услуги и цены</span></h2>
		<p>Перед назначением терапии каждый пациент проходит через диагностику, позволяющую выявить потенциальный риск и
			степень нанесенного здоровью ущерба. В зависимости от полученных данных, врач подберет индивидуальную программу
			терапии, которая может проходить в амбулаторном режиме или на дому.</p>

		<p>В список основных услуг, оказываемых специалистами анонимной наркологической клиники, входят:</p>
		<ul>
			<li>детоксикация для выведения из организма продуктов распада этилового спирта или наркотического препарата;</li>
			<li>выведение из состояния запоя и снятие абстинентного синдрома;</li>
			<li>поддерживающее и симптоматическое лечение, направленное на нормализацию самочувствия и работы внутренних
				органов;</li>
			<li>снятие наркотической ломки;</li>
			<li>кодирование, при помощи которого человек от навязчивого желания вернуться к вредной привычке;</li>
			<li><a href="/reabilitatsionnyy-tsentr/ot-narkomanii/">реабилитация наркозависимых</a>, позволяющая пройти все
				этапы терапии в амбулатории по специальным программам;</li>
			<li>психотерапия, помогающая вернуться в нормальной полноценной жизни в социуме после лечения.</li>
		</ul>
		<p>Обращение в частную наркологическую клинику <b>гарантирует</b> деликатный и профессиональный подход специалистов
			и персонала, что подтверждают отзывы.</p>
		<p>Программа терапии для каждого пациента рассчитывается индивидуально, поэтому назвать точную стоимость услуг
			невозможно. Цена зависит от:</p>
		<ul>
			<li>количества проводимых процедур;</li>
			<li>перечня применяемых препаратов;</li>
			<li>необходимости пребывания в амбулатории.</li>
		</ul>
		<p>Также важно учитывать возраст пациента и стаж зависимости, число предыдущих неудачных попыток лечения, анамнез.
		</p>
		<h2><span>Условия пребывания в амбулатории</span></h2>
		<p>При госпитализации в амбулаторное отделение пациенты получают необходимость лечиться в комфортабельных условиях:
		</p>
		<ul>
			<li>чистые уютные палаты;</li>
			<li>удобные кровати;</li>
			<li>постоянное наблюдение персонала;</li>
			<li>интересный досуг.</li>
		</ul>
		<blockquote>Частный наркологический центр предлагает пациентам сбалансированное питание, необходимое для быстрого
			восстановления организма после детоксикации.</blockquote>
		<p>Во время реабилитационного периода для наркозависимых пациенты имеют возможность общаться друг с другом,
			заниматься творчеством, разговаривать с психологами. Социализация помогает пациентам быстрее перейти к новому
			этапу жизни без наркотиков. При этом врачи гарантируют: во время пребывания в клинике пациент не сможет найти дозу
			наркотика или алкоголь.</p>
		<h2><span>Противорецидивный подход</span></h2>
		<p>После проведенного лечения и реабилитации пациент возвращается к своей обычной жизни, в которой его могут ожидать
			стрессы и другие факторы, способные спровоцировать рецидив.</p>
		<p>Специалисты центра продолжают работать с пациентами по мере необходимости и после их выписки. Если человек
			почувствовал признаки приближения <b>рецидива</b>, он может связаться с психологом, чтобы справиться с возникшей
			ситуацией и сохранить трезвость.</p>
		<p>Наркологическая помощь в Екатеринбурге помогает всем пациентам, попавшим в трудную ситуацию, связанную с
			химическими и психологическими аддикциями. Узнать об услугах центра подробно можно по телефону или на очной
			консультации.</p>
	</div>
</section>