<section class="section-offset advantages">
	<div class="content">
		<p class="section-title">
			<span>Наши преимущества</span>
		</p>
		<div class="advantages__swiper swiper">
			<div class="advantages__inner swiper-wrapper">
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/5.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Профессионализм – специалисты-наркологи с обширной практикой
					</p>
				</div>
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/3.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Оперативное прибытие врача
					</p>
				</div>
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/7.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Назначение лечения индивидуально, никаких типовых программ
					</p>
				</div>
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/4.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Быстрое купирование симптомов запоя – облегчение состояния в течение часа
					</p>
				</div>
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/6.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Оплата любым способом
					</p>
				</div>
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/2.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Полная анонимность при оказании медпомощи
					</p>
				</div>
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/8.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Работаем круглосуточно – всегда есть бригады на дежурстве
					</p>
				</div>
				<div class="advantages__item swiper-slide">
					<div class="advantages__icon">
						<picture>
							<img src="assets/img/advantages/1.svg" alt="иконка преимущества" loading="lazy">
						</picture>
					</div>
					<p class="advantages__des">
						Бесплатная консультация врача перед процедурой
					</p>
				</div>
			</div>
			<div class="nav-btns advantages__nav-btns">
				<div class="nav-btn advantages advantages__nav-btn_prev">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
				<div class="nav-btn advantages__nav-btn advantages__nav-btn_next">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
			</div>
		</div>
	</div>
</section>