<section class="allocator container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Разводящая страница услуг</li>
    </ul>
  </div>
  <h1 class="allocator__title main-title"><span>Разводящая</span> страница услуг</h1>
  <div class="allocator__categories">
    <div class="allocator__categories-subtile"><span>Выберите вид услуги</span><span>Найдено: 32 услуги</span></div>
    <div class="allocator__categories__list">
      <div class="categories__top-container">
        <p class="categories__subtitle">Кодирование от алкоголизма</p>
        <button class="categories__btn categories__btn_open point-mark"></button>
      </div>
      <div class="categories__bottom-container">
        <p class="categories__item">Кодирование от алкоголизма</p>
        <p class="categories__item">Кодирование от алкоголизма 2</p>
        <p class="categories__item">Кодирование от алкоголизма 3000</p>
      </div>
    </div>
  </div>
  <div class="allocator__content">
    <div class="allocator__block">
      <h2 class="allocator__subtitle">Заголовок для раздела</h2>
      <div class="allocator__list">
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>

      </div>
    </div>
    <div class="allocator__block">
      <h2 class="allocator__subtitle">Длинный заголовок для раздела</h2>
      <div class="allocator__list">
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>

      </div>
    </div>
    <div class="allocator__block">
      <h2 class="allocator__subtitle">Quo et aperiam omnis autem excepturi laborum rerum soluta molestiae</h2>
      <div class="allocator__list">
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>как подготовиться к кодированию</span>
          <div class="point-mark point-arrow"></div>
        </a>
        <a href="#" class="btn btn_call allocator__item btn_light express__button">
          <span>кодирование от алкоголизма на дому</span>
          <div class="point-mark point-arrow"></div>
        </a>

      </div>
    </div>
  </div>
</section>
