<div class="blog-page container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Блог</li>
    </ul>
  </div>
  <h1 class="blog-page__title main-title"><span>Статьи, </span>которые вам помогут</h1>
  <div class="blog-page__items pag-list pag-active">
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/blood-lab.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
    <a class="blog-page__item" href="#">
      <div class="blog-page__item-img">
        <picture class="blog-page__item-picture">
          <img src="./assets/img/photos/patient-hand.webp" title="doc" alt="doc" loading="lazy">
        </picture>
      </div>
      <div class="blog-page__item-text">
        <h4 class="blog-page__item-name">Чем запой опасен для организма?</h4>
        <div class="blog-page__item-prof">Врачи настаивают на лечение запоя при алкоголизме на дому или в условиях
          стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</div>
        <div href="#" class="btn btn_call btn_light blog-page__item-detailed">
          <span>читать</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </div>
  <button class="btn btn_call btn_light blog-page__btn_more btn_more">
    <span>смотреть еще</span>
    <div class="point-mark point-plus"></div>
  </button>
</div>
