<section class="brigady-service container_b">
  <h2 class="brigady__title main-title"><span>Бригады наркологической помощи</span> по городу и области</h2>
  <div class="brigady__body">
    <div class="brigady__list">
      <div class="brigady__item">
        <div class="brigady__item__wrapper-title">
          <p class="brigady__item__title">Статистика вызовов</p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M1.8 1.8C0 3.5 0 6.3 0 12c0 5.7 0 8.5 1.8 10.2C3.5 24 6.3 24 12 24c5.7 0 8.5 0 10.2-1.8C24 20.5 24 17.7 24 12c0-5.7 0-8.5-1.8-10.2C20.5 0 17.7 0 12 0 6.3 0 3.5 0 1.8 1.8ZM18 12.3c.5 0 .9.4.9.9v6a.9.9 0 1 1-1.8 0v-6c0-.5.4-.9.9-.9Zm-5.1-7.5a.9.9 0 1 0-1.8 0v14.4a.9.9 0 1 0 1.8 0V4.8ZM6 7.5c.5 0 .9.4.9.9v10.8a.9.9 0 1 1-1.8 0V8.4c0-.5.4-.9.9-.9Z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <ul class="brigady__content-list">
          <li class="brigady__content-item">
            <p class="brigady__subtitle">Среднее время прибытия</p>
            <p class="brigady__description">23 мин</p>
          </li>
          <span class="brigady__separator"></span>
          <li class="brigady__content-item">
            <p class="brigady__subtitle">Активных бригад</p>
            <p class="brigady__description">5</p>
          </li>
          <span class="brigady__separator"></span>
          <li class="brigady__content-item">
            <p class="brigady__subtitle">Выполнено вызовов</p>
            <p class="brigady__description">2 450+</p>
          </li>
        </ul>
      </div>
      <div class="brigady__item">
        <div class="brigady__item__wrapper-title">
          <p class="brigady__item__title">Время прибытия</p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <path fill="#4995EC"
                d="M0 12C0 6.343 0 3.515 1.757 1.757 3.515 0 6.343 0 12 0s8.485 0 10.243 1.757C24 3.515 24 6.343 24 12s0 8.485-1.757 10.243C20.485 24 17.657 24 12 24s-8.485 0-10.243-1.757C0 20.485 0 17.657 0 12Z" />
              <path fill="#fff" fill-rule="evenodd"
                d="M12 6.3a.9.9 0 0 1 .9.9v4.427l2.736 2.737a.9.9 0 1 1-1.272 1.272l-3-3A.9.9 0 0 1 11.1 12V7.2a.9.9 0 0 1 .9-.9Z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <ul class="brigady__content-list">
          <li class="brigady__content-item">
            <p class="brigady__subtitle">Центральный район</p>
            <p class="brigady__description">15-20 мин</p>
          </li>
          <span class="brigady__separator"></span>
          <li class="brigady__content-item">
            <p class="brigady__subtitle">Западный район</p>
            <p class="brigady__description">20-30 мин</p>
          </li>
        </ul>
      </div>
      <div class="brigady__item brigady__item_map">
        <div class="brigady__map">
          <picture>
            <source srcset="/assets/img/section/brigady-service.webp" type="image/webp" />
            <img alt="" title="" loading="lazy" src="/assets/img/section/brigady-service.png" />
          </picture>
        </div>
      </div>
    </div>
    <button class="btn brigady__button btn_accent btn_consult popup-btn" data-path="popup-consult">
      <span>вызвать врача</span>
      <div class="point-mark"><span></span><span></span></div>
    </button>
  </div>
</section>
