<section class="calculator container_b to_animate left-fade">
  <div class="calculator__block">
    <div class="calculator__content">
      <h2 class="calculator__title main-title"><span>Калькулятор</span> стоимости кодирования</h2>
      <p class="calculator__caption">Ваш надежный помощник в мире трезвости! Узнайте, сколько будет стоить кодирование в
        нашей клинике.</p>
      <button class="btn calculator__button popup-btn btn_consult btn_accent" data-path="popup-calculator">
        <span>рассчитать</span>
        <div class="point-mark"><span></span><span></span></div>
      </button>
    </div>
  </div>
  <div class="calculator__block">
    <div class="calculator__picture">
      <picture>
        <source srcset="/assets/img/section/calculator.webp" type="image/webp">
        <img alt="Калькулятор" title="Калькулятор" loading="lazy" src="/assets/img/section/calculator.png">
      </picture>
    </div>
  </div>
</section>
