<section class="center-service container_b to_animate down-fade slider-hl">
  <h2 class="center-service__title main-title">Наш реабилитационный центр</h2>
  <div class="center-service__body ">
    <div class="center-service__gallery__wrapper slider-hl__swiper">
      <div class="center-service__gallery swiper-wrapper">
        <div class="center-service__gallery__item swiper-slide">
          <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
            <picture>
              <source srcset="./assets/img/photos/gal1.webp" type="image/webp">
              <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal1.jpeg">
            </picture>
          </a>
        </div>
        <div class="center-service__gallery__item swiper-slide">
          <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
            <picture>
              <source srcset="./assets/img/photos/gal2.webp" type="image/webp">
              <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal2.jpeg">
            </picture>
          </a>
        </div>
        <div class="center-service__gallery__item swiper-slide">
          <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
            <picture>
              <source srcset="./assets/img/photos/gal2.webp" type="image/webp">
              <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal2.jpeg">
            </picture>
          </a>
        </div>
        <div class="center-service__gallery__item swiper-slide">
          <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
            <picture>
              <source srcset="./assets/img/photos/gal2.webp" type="image/webp">
              <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal2.jpeg">
            </picture>
          </a>
        </div>
        <div class="center-service__gallery__item swiper-slide">
          <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
            <picture>
              <source srcset="./assets/img/photos/gal3.webp" type="image/webp">
              <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal3.jpeg">
            </picture>
          </a>
        </div>
      </div>
    </div>
    <button class="btn btn_call btn_light popup-btn center-service__button" data-path="popup-consult">
      <span>записаться на экскурсию</span>
      <div class="point-mark point-plus"></div>
    </button>
  </div>
</section>
