<section class="content-table section-offset">
	<div class="content content-table__content">
		<div class="content-table__col">
			<p class="content-table__title">
				Содержание
			</p>
			<ul class="content-table__navigation">
				
			</ul>
		</div>
		<div class="content-table__col content-table__col_authors">
			<a href="#" class="content-table__author author author_author">
				<div class="author__top">
					<p>Автор статьи:</p>
					<p class="author__date">06.03.2025</p>
				</div>
				<div class="author__inner">
					<picture class="author__photo">
						<source srcset="assets/img/doctors/korotkov.webp" type="image/webp">
						<img src="assets/img/doctors/korotkov.jpg" alt="Фотография врача">
					</picture>
					<div class="author__info">
						<p class="author__name">
							Воронина Валерия Арсентьевна
						</p>
						<p class="author__spec">
							психотерапевт, нарколог, психиатр
						</p>
							<img src="assets/img/icons/prodoc.png" alt="продокторов">
					</div>
				</div>
			</a>
			<a href="#" class="content-table__author author author_checker">
				<div class="author__top">
					<p>Статья проверена врачом:</p>
					<p class="author__date">06.03.2025</p>
				</div>
				<div class="author__inner">
					<picture class="author__photo">
						<source srcset="assets/img/doctors/korotkov.webp" type="image/webp">
						<img src="assets/img/doctors/korotkov.jpg" alt="Фотография врача">
					</picture>
					<div class="author__info">
						<p class="author__name">
							Воронина Валерия Арсентьевна
						</p>
						<p class="author__spec">
							психотерапевт, нарколог, психиатр
						</p>
							<img src="assets/img/icons/prodoc.png" alt="продокторов">
					</div>
				</div>
			</a>
		</div>
	</div>
</section>