<section class="doctors-slider slider-hl container_b">
  <div class="doctors-slider__caption">
    <h2 class="doctors-slider__title main-title">Доверьтесь <span>экспертам</span></h2>
    <p>В клинике работают опытные врачи, которые помогли тысячам пациентов справиться с алкогольной зависимостью. Мы ценим ваше доверие и гарантируем полную анонимность лечения.</p>
  </div>

  <div class="doctors-slider__body slider-hl__swiper">
    <div class="doctors-slider__list swiper-wrapper">
      <a class="doctors-page__item swiper-slide" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="./assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
      </a>
      <a class="doctors-page__item swiper-slide" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="./assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
      </a>
      <a class="doctors-page__item swiper-slide" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="./assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
      </a>
      <a class="doctors-page__item swiper-slide" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="./assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
      </a>
      <a class="doctors-page__item swiper-slide" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="./assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
      </a>
      <a class="doctors-page__item swiper-slide" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="./assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
      </a>
    </div>
    <div class="swiper-btn-container">
      <button class="choose__nav swiper-btn swiper-btn_left">
      </button>
      <button class="choose__nav swiper-btn swiper-btn_right">
      </button>
    </div>
  </div>
</section>
