<section class="doctors-page container_b">
  <div class="doctors-page__container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item">Врачи</li>
      </ul>
    </div>
    <h1 class="doctors-page__title main-title">
      <span>Врачи,</span> которые вам помогут
    </h1>
    <div class="doctors-page__items pag-list pag-active">
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/old-man-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Константинопольский Константин Константинович</h4>
          <div class="doctors-page__item-prof">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
      <a class="doctors-page__item" href="#">
        <div class="doctors-page__item-top">
          <div class="doctors-page__item-img">
            <picture class="doctors-page__item-picture">
              <img src="/assets/img/photos/doctor-test.webp" title="doc" alt="doc" loading="lazy">
            </picture>
            <div class="doctors-page__item-experience">
              <p>стаж 16 лет</p>
            </div>
          </div>
          <h4 class="doctors-page__item-name">
            Miracle Derrick Runolfsson</h4>
          <div class="doctors-page__item-prof">врач психиатр-нарколог</div>
        </div>
        <div href="#" class="btn btn_call btn_light doctors-page__item-detailed">
          <span>подробнее</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.00391" fill="none" viewBox="0 0 18 18.0039">
              <path stroke="#4995EC" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 17 17 1M4.2 1H17v12.79"></path>
            </svg>
          </div>
        </div>
      </a>
    </div>
    <button class="btn btn_call btn_light doctors-page__btn_more btn_more active">
      <span>смотреть еще</span>
      <div class="point-mark point-plus"></div>
    </button>
  </div>
</section>
