<section class="section-offset doctors">
	<div class="content doctors__content">
		<p class="section-title doctors__title">
			<span>Врачи клиники</span>
		</p>
		<div class="doctors__inner doctors__slider">
			<div class="swiper-wrapper">
				<a href="#" class="doctors__card swiper-slide change-item">
					<div class="doctors__photo">
						<picture>
							<source srcset="assets/img/doctors/korotkov.jpg" type="image/webp">
							<img src="assets/img/doctors/korotkov.jpg" alt="Фотография доктора">
						</picture>
					</div>
					<div class="doctors__info">
						<p class="doctors__name change-title">
							Чернов Александр Александрович
						</p>
						<p class="doctors__spec">
							психиатр, нарколог, психотерапевт
						</p>
					</div>
					<div class="doctors__button popup-btn change-doctor" data-path="popup-change">
						Обратиться
					</div>
				</a>
				<a href="#" class="doctors__card swiper-slide change-item">
					<div class="doctors__photo">
						<picture>
							<source srcset="assets/img/doctors/korotkov.jpg" type="image/webp">
							<img src="assets/img/doctors/korotkov.jpg" alt="Фотография доктора">
						</picture>
					</div>
					<div class="doctors__info">
						<p class="doctors__name change-title">
							Чернов Александр Александрович
						</p>
						<p class="doctors__spec">
							психиатр, нарколог, психотерапевт
						</p>
					</div>
					<div class="doctors__button popup-btn change-doctor" data-path="popup-change">
						Обратиться
					</div>
				</a>
				<a href="#" class="doctors__card swiper-slide change-item">
					<div class="doctors__photo">
						<picture>
							<source srcset="assets/img/doctors/korotkov.jpg" type="image/webp">
							<img src="assets/img/doctors/korotkov.jpg" alt="Фотография доктора">
						</picture>
					</div>
					<div class="doctors__info">
						<p class="doctors__name change-title">
							Чернов Александр Александрович
						</p>
						<p class="doctors__spec">
							психиатр, нарколог, психотерапевт
						</p>
					</div>
					<div class="doctors__button popup-btn change-doctor" data-path="popup-change">
						Обратиться
					</div>
				</a>
				<a href="#" class="doctors__card swiper-slide change-item">
					<div class="doctors__photo">
						<picture>
							<source srcset="assets/img/doctors/korotkov.jpg" type="image/webp">
							<img src="assets/img/doctors/korotkov.jpg" alt="Фотография доктора">
						</picture>
					</div>
					<div class="doctors__info">
						<p class="doctors__name change-title">
							Чернов Александр Александрович
						</p>
						<p class="doctors__spec">
							психиатр, нарколог, психотерапевт
						</p>
					</div>
					<div class="doctors__button popup-btn change-doctor" data-path="popup-change">
						Обратиться
					</div>
				</a>
				<a href="#" class="doctors__card swiper-slide change-item">
					<div class="doctors__photo">
						<picture>
							<source srcset="assets/img/doctors/korotkov.jpg" type="image/webp">
							<img src="assets/img/doctors/korotkov.jpg" alt="Фотография доктора">
						</picture>
					</div>
					<div class="doctors__info">
						<p class="doctors__name change-title">
							Чернов Александр Александрович
						</p>
						<p class="doctors__spec">
							психиатр, нарколог, психотерапевт
						</p>
					</div>
					<div class="doctors__button popup-btn change-doctor" data-path="popup-change">
						Обратиться
					</div>
				</a>
			</div>
		</div>
		<div class="doctors__nav-btns nav-btns">
			<div class="nav-btn nav-btn_prev">
				<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
			</div>
			<div class="nav-btn nav-btn_next">
				<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
			</div>
		</div>
	</div>
</section>