<section class="review-form">
	<div class="content">
		<div class="review-form__content">
			<picture class="review-form__photo">
				<source srcset="assets/img/sections/woman.webp" type="image/webp">
				<img src="assets/img/sections/woman.png" alt="">
			</picture>
			<div class="review-form__col">
				<p class="review-form__title">
					Задать вопрос
				</p>
				<form class="review-form__form">
					<input type="text" placeholder="Ваше имя">
					<input type="tel" placeholder="+7(___) ___-__-__">
					<textarea name="" id="" placeholder="Вопрос"></textarea>
					<div class="review-form__bottom">
						<button class="button button_red button_large review-form__button">
							Отправить отзыв
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>