<section class="faq section-offset">
	<div class="content">
		<h2 class="section-title">
			<span>Часто задаваемые вопросы пациентов</span>
		</h2>
		<div class="faq__inner">
			<ul class="faq__list">
				<li>
					<div class="faq__question-wrapper">
						<div class="faq__question">
							Проводите ли вы анонимное лечение?
							<div class="faq__button"></div>
						</div>
						<div class="faq__subqestion">Тут может быть подпись к вопросу</div>
					</div>
					<div class="faq__answer">
						<div class="faq__answer-inner">
							<p><b>Какой-то текст с жирным шрифтом</b></p>
							<p>
								Да, все процедуры и лечение в клинике проводятся полностью анонимно, гарантируя конфиденциальность пациентов.
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="faq__question-wrapper">
						<div class="faq__question">
							Проводите ли вы анонимное лечение?
							<div class="faq__button"></div>
						</div>
						<div class="faq__subqestion">Тут может быть подпись к вопросу</div>
					</div>
					<div class="faq__answer">
						<div class="faq__answer-inner">
							<p><b>Какой-то текст с жирным шрифтом</b></p>
							<p>
								Да, все процедуры и лечение в клинике проводятся полностью анонимно, гарантируя конфиденциальность пациентов.
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="faq__question-wrapper">
						<div class="faq__question">
							Проводите ли вы анонимное лечение?
							<div class="faq__button"></div>
						</div>
						<div class="faq__subqestion">Тут может быть подпись к вопросу</div>
					</div>
					<div class="faq__answer">
						<div class="faq__answer-inner">
							<p><b>Какой-то текст с жирным шрифтом</b></p>
							<p>
								Да, <a href="#">все процедуры</a> и лечение в клинике проводятся полностью анонимно, гарантируя конфиденциальность пациентов.
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="faq__question-wrapper">
						<div class="faq__question">
							Проводите ли вы анонимное лечение?
							<div class="faq__button"></div>
						</div>
						<div class="faq__subqestion">Тут может быть подпись к вопросу</div>
					</div>
					<div class="faq__answer">
						<div class="faq__answer-inner">
							<p><b>Какой-то текст с жирным шрифтом</b></p>
							<p>
								Да, все процедуры и лечение в клинике проводятся полностью анонимно, гарантируя конфиденциальность пациентов.
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="faq__question-wrapper">
						<div class="faq__question">
							Проводите ли вы анонимное лечение?
							<div class="faq__button"></div>
						</div>
						<div class="faq__subqestion">Тут может быть подпись к вопросу</div>
					</div>
					<div class="faq__answer">
						<div class="faq__answer-inner">
							<p><b>Какой-то текст с жирным шрифтом</b></p>
							<p>
								Да, все процедуры и лечение в клинике проводятся полностью анонимно, гарантируя конфиденциальность пациентов.
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="faq__question-wrapper">
						<div class="faq__question">
							Проводите ли вы анонимное лечение?
							<div class="faq__button"></div>
						</div>
						<div class="faq__subqestion">Тут может быть подпись к вопросу</div>
					</div>
					<div class="faq__answer">
						<div class="faq__answer-inner">
							<p><b>Какой-то текст с жирным шрифтом</b></p>
							<p>
								Да, все процедуры и лечение в клинике проводятся полностью анонимно, гарантируя конфиденциальность пациентов.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>