<section class="faq-section container_b">
  <div class="faq-section__wrap">
    <div class="faq-section__top">
      <h2 class="faq-section__title main-title">Часто задаваемые <span>вопросы</span></h2>
      <div class="faq-section__forms">
        <form class="faq-section__form">
          <p class="faq-section__form-title">Не нашли ответа на свой вопрос?</p>
          <p class="faq-section__form-subtitle">Свяжитесь с нами, и мы поможем!</p>
          <input name="params[phone][]" type="tel" required="" class="input lechenie__input"
            placeholder="+7 (999) 999-99-99">
          <label class="checkbox">
            <input type="checkbox" checked="checked" required="">
            <span class="checkbox-mark"></span>
            <span>Даю согласие на обработку персональных данных</span>
          </label>
          <button type="submit" class="btn btn_consult btn_accent lechenie__button">
            <span>отправить</span>
            <div class="point-mark">
              <span></span>
              <span></span>
            </div>
          </button>
        </form>
      </div>
    </div>
    <div class="faq-section__content">
      <ul class="faq-section__list">
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__top-container">
            <div class="faq-section__subtitle__wrapper">
              <p class="faq-section__subtitle">Как долго длится лечение алкоголизма?</p>
            </div>
            <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="faq-section__bottom-container">
            <div class="faq-section__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="faq-section__bottom-name">
              <p>Константинопольский Константин Константинович, главный врач клиники</p>
            </div>
          </div>

        </li>
      </ul>
      <div class="faq-section__content-btn">
        <p>смотреть еще</p>
        <button class="faq-section__btn faq-section__btn_open point-mark"><span></span><span></span></button>
      </div>

    </div>
  </div>
</section>
