<footer class="footer container">
    <div class="content">
        <div class="footer__container">
            <a class="footer__logo logo">
                <picture class="logo__picture">
                    <source srcset="./assets/img/logo/logo-white.webp" type="image/webp">
                    <source srcset="./assets/img/logo/logo-white.svg" type="image/svg+xml">
                    <img src="./assets/img/logo/logo-white.png" alt="Логотип">
                </picture>
                <span class="logo__title">Эспераль-Клиник</span>
            </a>
            <div class="footer__wrapper footer_services">
                <a class="footer__title">Услуги</a>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Лечение алкоголизма</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Лечение наркомании</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Кодирование</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Капельницы</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Вывод из запоя</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Наркологическая помощь</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Психиатрия</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Реабилитационный центр</a>
                    </li>
                </ul>
            </div>
            <div class="footer__wrapper footer_about">
                <a class="footer__title">О клинике</a>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">О нас</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Врачи</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Цены</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Акции</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Отзывы</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">База знаний</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Часто задаваемые вопросы</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__wrapper footer_contacts">
                <ul class="footer__list">
                    <li class="footer__item">
                        <p class="footer_contacts__title">Адрес:</p>
                        <p class="footer__address footer__caption"><span>г. Саратов</span>, <span>ул. Московская
                                34</span></p>
                    </li>
                    <li>
                        <p class="footer_contacts__title">Телефон:</p>
                        <a class="footer__phone footer__caption" href="tel:+79999999999">+7 999 999-99-99</a>
                    </li>
                    <li>
                        <p class="footer_contacts__title">Почта:</p>
                        <a class="footer__mail footer__caption"
                            href="mailto:info@esperal-klinika.ru">info@esperal-klinika.ru</a>
                    </li>
                </ul>
                <div class="footer__social footer__social_mobile">
                    <div class="social-container">
                        <div class="social-container__point social-tg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                <path fill="#4995EC"
                                    d="m20 .64-3.16 16.61s-.45 1.15-1.66.6l-7.3-5.83-.04-.02c1-.92 8.64-8.08 8.97-8.4.52-.5.2-.8-.4-.43L5.1 10.64.76 9.12s-.69-.26-.76-.8c-.06-.56.78-.86.78-.86L18.54.2S20-.47 20 .64Z" />
                            </svg>
                        </div>
                        <span>Telegram</span>
                    </div>
                    <div class="social-container">
                        <div class="social-container__point social-wa">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 27 27">
                                <path fill="#4995EC"
                                    d="M22.9 4.08a13.05 13.05 0 0 0-22.32 9.2c.01 2.28.65 4.56 1.75 6.48L.5 26.5l6.95-1.82c1.92 1 4.03 1.55 6.22 1.55 7.23 0 13.08-5.84 13.08-13.04a13.29 13.29 0 0 0-3.84-9.11Zm-2.92 13.85c-.27.73-1.55 1.46-2.2 1.55-.54.1-1.27.1-2-.09-.46-.18-1.1-.36-1.83-.73-3.3-1.37-5.4-4.65-5.58-4.92a5.87 5.87 0 0 1-1.38-3.37C7 8.73 7.82 8 8.1 7.63c.28-.36.64-.36.92-.36h.64c.18 0 .45-.1.73.55.27.63.91 2.27 1 2.36.1.19.1.37 0 .55-.09.18-.18.37-.36.55-.18.18-.37.45-.46.55-.18.18-.36.36-.18.63.18.37.82 1.37 1.83 2.28 1.28 1.1 2.28 1.46 2.65 1.64.37.19.55.1.73-.09a7.8 7.8 0 0 0 1-1.27c.2-.37.46-.28.74-.19.27.1 1.92.91 2.2 1.1.36.18.54.27.63.36.1.28.1.91-.18 1.64Z" />
                            </svg>
                        </div>
                        <span>WhatsApp</span>
                    </div>
                </div>
                <button class="btn btn_call footer__button btn_light popup-btn" data-path="popup-consult">
                    <span>обратный звонок</span>
                    <div class="point-mark point-plus"></div>
                </button>
            </div>
        </div>
        <div class="footer__container">
            <p class="footer__description">Политика конфиденциальности</p>
            <div class="footer__social">
                <a href="#" class="social-container">
                    <div class="social-container__point social-tg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                            <path fill="#4995EC"
                                d="m20 .64-3.16 16.61s-.45 1.15-1.66.6l-7.3-5.83-.04-.02c1-.92 8.64-8.08 8.97-8.4.52-.5.2-.8-.4-.43L5.1 10.64.76 9.12s-.69-.26-.76-.8c-.06-.56.78-.86.78-.86L18.54.2S20-.47 20 .64Z" />
                        </svg>
                    </div>
                    <span>Telegram</span>
                </a>
                <a href="#" class="social-container">
                    <div class="social-container__point social-wa">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 27 27">
                            <path fill="#4995EC"
                                d="M22.9 4.08a13.05 13.05 0 0 0-22.32 9.2c.01 2.28.65 4.56 1.75 6.48L.5 26.5l6.95-1.82c1.92 1 4.03 1.55 6.22 1.55 7.23 0 13.08-5.84 13.08-13.04a13.29 13.29 0 0 0-3.84-9.11Zm-2.92 13.85c-.27.73-1.55 1.46-2.2 1.55-.54.1-1.27.1-2-.09-.46-.18-1.1-.36-1.83-.73-3.3-1.37-5.4-4.65-5.58-4.92a5.87 5.87 0 0 1-1.38-3.37C7 8.73 7.82 8 8.1 7.63c.28-.36.64-.36.92-.36h.64c.18 0 .45-.1.73.55.27.63.91 2.27 1 2.36.1.19.1.37 0 .55-.09.18-.18.37-.36.55-.18.18-.37.45-.46.55-.18.18-.36.36-.18.63.18.37.82 1.37 1.83 2.28 1.28 1.1 2.28 1.46 2.65 1.64.37.19.55.1.73-.09a7.8 7.8 0 0 0 1-1.27c.2-.37.46-.28.74-.19.27.1 1.92.91 2.2 1.1.36.18.54.27.63.36.1.28.1.91-.18 1.64Z" />
                        </svg>
                    </div>
                    <span>WhatsApp</span>
                </a>
            </div>
            <p class="footer__description">© 2025 Эспераль-Клиник</p>
        </div>
    </div>
</footer>
