<footer class="footer">
	<div class="footer__attention">
		<p>
			Имеются противопоказания, необходимо проконсультироваться со специалистом. <span>18+</span>
		</p>
	</div>
	<div class="content">
		<div class="footer__row">
			<div class="footer__col">
				<a href="tel: 8 (800) 511-53-86" class="footer__tel">
					<picture>
						<img src="assets/img/icons/phone-icon.png" alt="иконка телефона">
					</picture>
					<span>8 (800) 511-53-86</span>
				</a>
				<div class="footer__item">
					<span>
						Адрес:
					</span>
				</div>
				<div class="footer__item">
					<picture>
						<img src="assets/img/icons/placeholder-icon.png" alt="плейсхолдер">
					</picture>
					<span>
						ул. Норильская, стр. 77
					</span>
				</div>
				<div class="footer__item">
					<picture>
						<img src="assets/img/icons/time-icon.svg" alt="иконка часов">
					</picture>
					<span>
						Наркология: 24/7
					</span>
				</div>
				<div class="footer__item footer__pay">
					<span>
						Способы оплаты:
					</span>
					<picture>
						<img src="assets/img/icons/oplata_1.svg" alt="Способы оплаты">
					</picture>
				</div>
				<p>
					Наркологическая клиника «Трезвый путь»- коммерческое наименование ООО «Детокс» <br>
					ИНН 2312268085	<br>
					ОГРН – 1182375001511, <br>
					мед. лицензия Л041-01177-91/00561129 от 02.02.2022 г. <br>
				</p>
			</div>
			<div class="footer__col footer__col_links">
				<ul class="footer__sub-row footer__sub-row_links">
					<li><a href="#">Врачи</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Фото</a></li>
					<li><a href="#">Отзывы</a></li>
				</ul>
				<div class="footer__sub-row">
					<ul class="footer__sub-col">
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
					</ul>
					<ul class="footer__sub-col">
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
					</ul>
					<ul class="footer__sub-col">
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
					</ul>
					<ul class="footer__sub-col">
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
						<li><a href="">ссылка в футере</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__col footer__col_buttons">
				<div class="button button_medium button_transparent button_icon button_fill">
					<picture>
						<img src="assets/img/icons/phone-icon.png" alt="иконка телефона">
					</picture>
					<span>
						Звонок в клинику
					</span>
				</div>
				<div class="button button_medium button_transparent button_fill">
					<span>
						Бесплатная консультация
					</span>
				</div>
				<a href="#">
					Карта сайта
				</a>
				<button class="footer__spec-btn">
					<picture>
						<img src="assets/img/icons/glaz-icon.svg" alt="иконка глаза">
					</picture>
				</button>
			</div>
		</div>
		<div class="footer__row footer__row_center">
			
		</div>
	</div>
	
</footer>