<section class="galery section-offset">
	<div class="content galery__content">
		<div class="galery__column license">
			<p class="section-title">
				<span>Лицензии</span>
			</p>
			<div class="license__inner swiper">
				<div class="swiper-wrapper">
					<a href="assets/img/license/lic-1.png" class="license__item swiper-slide" data-fancybox="lic">
						<picture>
							<source srcset="assets/img/license/lic-1.webp" type="image/webp">
							<img src="assets/img/license/lic-1.png" alt="Лицензия">
						</picture>
					</a>
					<a href="assets/img/license/lic-1.png" class="license__item swiper-slide" data-fancybox="lic">
						<picture>
							<source srcset="assets/img/license/lic-1.webp" type="image/webp">
							<img src="assets/img/license/lic-1.png" alt="Лицензия">
						</picture>
					</a>
					<a href="assets/img/license/lic-1.png" class="license__item swiper-slide" data-fancybox="lic">
						<picture>
							<source srcset="assets/img/license/lic-1.webp" type="image/webp">
							<img src="assets/img/license/lic-1.png" alt="Лицензия">
						</picture>
					</a>
				</div>
			</div>
			<div class="nav-btns license__nav-btns">
				<div class="nav-btn nav-btn_prev">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
				<div class="nav-btn nav-btn_next">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
			</div>
		</div>
		<div class="galery__column photos">
			<p class="section-title">
				<span>Фото клиники</span>
			</p>
			<div class="photos__inner swiper">
				<div class="swiper-wrapper">
					<div class="photos__item swiper-slide">
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
					</div>
					<div class="photos__item swiper-slide">
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
					</div>
					<div class="photos__item swiper-slide">
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
					</div>
					<div class="photos__item swiper-slide">
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
						<a href="assets/img/photos/klinika3.jpg" data-fancybox="photos">
							<source srcset="assets/img/photos/klinika3_min.webp" type="image/webp">
							<img src="assets/img/photos/klinika3_min.jpg" alt="Фото клиники">
						</a>
					</div>
				</div>
			</div>
			<div class="nav-btns photos__nav-btns">
				<div class="nav-btn nav-btn_prev">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
				<div class="nav-btn nav-btn_next">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
			</div>
		</div>
	</div>
</section>