<header class="header">
	<div class="content">
		<div class="header__row">
			<div class="header__address">
				<div class="point-mark point-map">
				</div>
				<p class="header__address__container">
					<span class="header__address__title">Саратов</span>, <span
						class="header__address__caption">Московская 34</span>
				</p>
			</div>
			<div class="header__logo logo">
				<picture class="logo__picture">
					<source srcset="/assets/img/logo/logo.webp" type="image/webp">
					<source srcset="/assets/img/logo/logo.svg" type="image/svg+xml">
					<img src="/assets/img/logo/logo.png" alt="Логотип">
				</picture>
				<span class="logo__title">Эспераль-Клиник</span>
			</div>
			<div class="header__btns-container">
				<div class="point-mark btn_social point-tel">
				</div>
				<div class="point-mark btn_social point-tg">
				</div>
				<a class="header__phone-link header__phone-link_mobile" href="+799999999999">+7 999 999-99-99</a>
				<button class="btn btn_accent btn-popup">записаться на прием</button>
				<button class="header__menu__btn_mobile">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
						<path fill="#4995EC" d="M.5.5h5v5h-5zM.5 8.5h5v5h-5zM8.5.5h5v5h-5zM8.5 8.5h5v5h-5z" />
					</svg>
				</button>
			</div>
		</div>
		<div class="header__row">
			<a class="header__phone-link" href="+799999999999">+7 999 999-99-99</a>
			<menu class="header__menu">
				<ul class="header__menu__list">
					<li class="header__menu__item header__menu_point">Услуги</li>
					<li class="header__menu__item header__menu_point">О центре</li>
					<li class="header__menu__item">Врачи</li>
					<li class="header__menu__item">Цены</li>
					<li class="header__menu__item">Акции</li>
					<li class="header__menu__item">Отзывы</li>
					<li class="header__menu__item">Контакты</li>
				</ul>
			</menu>
			<div class="header__search search">
				<form action="" class="search__form">
					<input placeholder="Поиск по сайту" type="text" class="input search__input">
				</form>
			</div>
		</div>
	</div>
</header>