<header class="header">
	<div class="content">
		<div class="header__row">
			<div class="header__address">
				<div class="point-mark point-map">
				</div>
				<p class="header__address__container">
					<span class="header__address__title">Саратов</span>,<span
						class="header__address__caption">Московская 34</span>
				</p>
			</div>
			<div class="header__logo__wrapper logo">
				<picture class="logo__picture">
					<source srcset="/assets/img/header/logo.webp" type="image/webp">
					<source srcset="/assets/img/header/logo.svg" type="image/svg+xml">
					<img src="/assets/img/header/logo.png" alt="Логотип">
				</picture>
				<span class="header__logo__title">Эспераль-Клиник</span>
			</div>
			<div class="header__btns-container">
				<div class="point-mark point-tel">
				</div>
				<div class="point-mark point-tg">
				</div>
				<button class="btn btn_accent btn-popup">записаться на прием</button>
			</div>
		</div>
		<div class="header__row">
			<a class="header__phone-link" href="+799999999999">+7 999 999-99-99</a>
			<menu class="header__menu">
				<ul class="header__menu__list">
					<li class="header__menu__item">Услуги</li>
					<li class="header__menu__item">О центре</li>
					<li class="header__menu__item">Врачи</li>
					<li class="header__menu__item">Цены</li>
					<li class="header__menu__item">Акции</li>
					<li class="header__menu__item">Отзывы</li>
					<li class="header__menu__item">Контакты</li>
				</ul>
			</menu>
			<div class="header__search search">
				<form action="" class="search__form">
					<input type="text" class="input search-input">
				</form>
			</div>
		</div>
	</div>
</header>