<section class="histories container_b slider-hl">
  <h2 class="histories__title main-title"><span>Истории</span> выздоровления</h2>
  <div class="histories__body slider-hl__swiper">
    <ul class="histories__list swiper-wrapper">
      <li class="histories__item swiper-slide">
        <div class="histories__item__title">
          <p><span>Александр, 32 года</span><span>В ремиссии 2.5 года</span></p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 26">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M12.7 0h6.4c6 0 9 0 10.9 1.9 1.8 1.8 1.8 4.8 1.8 10.8 0 6 0 9-1.8 10.9C28 25.5 25 25.5 19 25.5h-6.4c-6 0-9 0-10.8-1.9C0 21.7 0 18.7 0 12.7S0 3.7 1.9 2C3.7 0 6.7 0 12.7 0ZM18 8c0-.7.5-1.2 1.2-1.2h8a1.2 1.2 0 1 1 0 2.4h-8A1.2 1.2 0 0 1 17.9 8Zm1.6 4.7c0-.6.5-1.2 1.2-1.2h6.4a1.2 1.2 0 1 1 0 2.4h-6.4a1.2 1.2 0 0 1-1.2-1.2Zm1.6 4.8c0-.6.5-1.2 1.2-1.2H27a1.2 1.2 0 1 1 0 2.4h-4.8a1.2 1.2 0 0 1-1.2-1.2ZM14.3 8A3.2 3.2 0 1 1 8 8a3.2 3.2 0 0 1 6.3 0Zm-3.2 12.7c6.4 0 6.4-1.4 6.4-3.2 0-1.7-2.8-3.2-6.4-3.2-3.5 0-6.3 1.5-6.3 3.2s0 3.2 6.3 3.2Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <ul class="histories__content-list">
          <li class="histories__content-item">
            <p class="histories__subtitle">Проблема</p>
            <p class="histories__description">Опиоидная зависимость </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">История</p>
            <p class="histories__description">Стаж употребления 6 лет</p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">Достижения</p>
            <p class="histories__description">
            <ul>
              <li>Восстановил отношения с семьей</li>
              <li>Открыл собственный бизнес</li>
              <li>Занимается спортом</li>
              <li>Помогает другим зависимым</li>
            </ul>
            </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <blockquote>“Главное - признать проблему и довериться специалистам. Теперь я знаю, что любую зависимость
              можно победить.”</blockquote>
          </li>
        </ul>
      </li>
      <li class="histories__item swiper-slide">
        <div class="histories__item__title">
          <p><span>Александр, 32 года</span><span>В ремиссии 2.5 года</span></p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 26">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M12.7 0h6.4c6 0 9 0 10.9 1.9 1.8 1.8 1.8 4.8 1.8 10.8 0 6 0 9-1.8 10.9C28 25.5 25 25.5 19 25.5h-6.4c-6 0-9 0-10.8-1.9C0 21.7 0 18.7 0 12.7S0 3.7 1.9 2C3.7 0 6.7 0 12.7 0ZM18 8c0-.7.5-1.2 1.2-1.2h8a1.2 1.2 0 1 1 0 2.4h-8A1.2 1.2 0 0 1 17.9 8Zm1.6 4.7c0-.6.5-1.2 1.2-1.2h6.4a1.2 1.2 0 1 1 0 2.4h-6.4a1.2 1.2 0 0 1-1.2-1.2Zm1.6 4.8c0-.6.5-1.2 1.2-1.2H27a1.2 1.2 0 1 1 0 2.4h-4.8a1.2 1.2 0 0 1-1.2-1.2ZM14.3 8A3.2 3.2 0 1 1 8 8a3.2 3.2 0 0 1 6.3 0Zm-3.2 12.7c6.4 0 6.4-1.4 6.4-3.2 0-1.7-2.8-3.2-6.4-3.2-3.5 0-6.3 1.5-6.3 3.2s0 3.2 6.3 3.2Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <ul class="histories__content-list">
          <li class="histories__content-item">
            <p class="histories__subtitle">Проблема</p>
            <p class="histories__description">Опиоидная зависимость </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">История</p>
            <p class="histories__description">Стаж употребления 6 лет</p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">Достижения</p>
            <p class="histories__description">
            <ul>
              <li>Восстановил отношения с семьей</li>
              <li>Открыл собственный бизнес</li>
              <li>Занимается спортом</li>
              <li>Помогает другим зависимым</li>
            </ul>
            </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <blockquote>“Главное - признать проблему и довериться специалистам. Теперь я знаю, что любую зависимость
              можно победить.”</blockquote>
          </li>
        </ul>
      </li>
      <li class="histories__item swiper-slide">
        <div class="histories__item__title">
          <p><span>Александр, 32 года</span><span>В ремиссии 2.5 года</span></p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 26">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M12.7 0h6.4c6 0 9 0 10.9 1.9 1.8 1.8 1.8 4.8 1.8 10.8 0 6 0 9-1.8 10.9C28 25.5 25 25.5 19 25.5h-6.4c-6 0-9 0-10.8-1.9C0 21.7 0 18.7 0 12.7S0 3.7 1.9 2C3.7 0 6.7 0 12.7 0ZM18 8c0-.7.5-1.2 1.2-1.2h8a1.2 1.2 0 1 1 0 2.4h-8A1.2 1.2 0 0 1 17.9 8Zm1.6 4.7c0-.6.5-1.2 1.2-1.2h6.4a1.2 1.2 0 1 1 0 2.4h-6.4a1.2 1.2 0 0 1-1.2-1.2Zm1.6 4.8c0-.6.5-1.2 1.2-1.2H27a1.2 1.2 0 1 1 0 2.4h-4.8a1.2 1.2 0 0 1-1.2-1.2ZM14.3 8A3.2 3.2 0 1 1 8 8a3.2 3.2 0 0 1 6.3 0Zm-3.2 12.7c6.4 0 6.4-1.4 6.4-3.2 0-1.7-2.8-3.2-6.4-3.2-3.5 0-6.3 1.5-6.3 3.2s0 3.2 6.3 3.2Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <ul class="histories__content-list">
          <li class="histories__content-item">
            <p class="histories__subtitle">Проблема</p>
            <p class="histories__description">Опиоидная зависимость </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">История</p>
            <p class="histories__description">Стаж употребления 6 лет</p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">Достижения</p>
            <p class="histories__description">
            <ul>
              <li>Восстановил отношения с семьей</li>
              <li>Открыл собственный бизнес</li>
              <li>Занимается спортом</li>
              <li>Помогает другим зависимым</li>
            </ul>
            </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <blockquote>“Главное - признать проблему и довериться специалистам. Теперь я знаю, что любую зависимость
              можно победить.”</blockquote>
          </li>
        </ul>
      </li>
      <li class="histories__item swiper-slide">
        <div class="histories__item__title">
          <p><span>Александр, 32 года</span><span>В ремиссии 2.5 года</span></p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 26">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M12.7 0h6.4c6 0 9 0 10.9 1.9 1.8 1.8 1.8 4.8 1.8 10.8 0 6 0 9-1.8 10.9C28 25.5 25 25.5 19 25.5h-6.4c-6 0-9 0-10.8-1.9C0 21.7 0 18.7 0 12.7S0 3.7 1.9 2C3.7 0 6.7 0 12.7 0ZM18 8c0-.7.5-1.2 1.2-1.2h8a1.2 1.2 0 1 1 0 2.4h-8A1.2 1.2 0 0 1 17.9 8Zm1.6 4.7c0-.6.5-1.2 1.2-1.2h6.4a1.2 1.2 0 1 1 0 2.4h-6.4a1.2 1.2 0 0 1-1.2-1.2Zm1.6 4.8c0-.6.5-1.2 1.2-1.2H27a1.2 1.2 0 1 1 0 2.4h-4.8a1.2 1.2 0 0 1-1.2-1.2ZM14.3 8A3.2 3.2 0 1 1 8 8a3.2 3.2 0 0 1 6.3 0Zm-3.2 12.7c6.4 0 6.4-1.4 6.4-3.2 0-1.7-2.8-3.2-6.4-3.2-3.5 0-6.3 1.5-6.3 3.2s0 3.2 6.3 3.2Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <ul class="histories__content-list">
          <li class="histories__content-item">
            <p class="histories__subtitle">Проблема</p>
            <p class="histories__description">Опиоидная зависимость </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">История</p>
            <p class="histories__description">Стаж употребления 6 лет</p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">Достижения</p>
            <p class="histories__description">
            <ul>
              <li>Восстановил отношения с семьей</li>
              <li>Открыл собственный бизнес</li>
              <li>Занимается спортом</li>
              <li>Помогает другим зависимым</li>
            </ul>
            </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <blockquote>“Главное - признать проблему и довериться специалистам. Теперь я знаю, что любую зависимость
              можно победить.”</blockquote>
          </li>
        </ul>
      </li>
      <li class="histories__item swiper-slide">
        <div class="histories__item__title">
          <p><span>Александр, 32 года</span><span>В ремиссии 2.5 года</span></p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 26">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M12.7 0h6.4c6 0 9 0 10.9 1.9 1.8 1.8 1.8 4.8 1.8 10.8 0 6 0 9-1.8 10.9C28 25.5 25 25.5 19 25.5h-6.4c-6 0-9 0-10.8-1.9C0 21.7 0 18.7 0 12.7S0 3.7 1.9 2C3.7 0 6.7 0 12.7 0ZM18 8c0-.7.5-1.2 1.2-1.2h8a1.2 1.2 0 1 1 0 2.4h-8A1.2 1.2 0 0 1 17.9 8Zm1.6 4.7c0-.6.5-1.2 1.2-1.2h6.4a1.2 1.2 0 1 1 0 2.4h-6.4a1.2 1.2 0 0 1-1.2-1.2Zm1.6 4.8c0-.6.5-1.2 1.2-1.2H27a1.2 1.2 0 1 1 0 2.4h-4.8a1.2 1.2 0 0 1-1.2-1.2ZM14.3 8A3.2 3.2 0 1 1 8 8a3.2 3.2 0 0 1 6.3 0Zm-3.2 12.7c6.4 0 6.4-1.4 6.4-3.2 0-1.7-2.8-3.2-6.4-3.2-3.5 0-6.3 1.5-6.3 3.2s0 3.2 6.3 3.2Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <ul class="histories__content-list">
          <li class="histories__content-item">
            <p class="histories__subtitle">Проблема</p>
            <p class="histories__description">Опиоидная зависимость </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">История</p>
            <p class="histories__description">Стаж употребления 6 лет</p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <p class="histories__subtitle">Достижения</p>
            <p class="histories__description">
            <ul>
              <li>Восстановил отношения с семьей</li>
              <li>Открыл собственный бизнес</li>
              <li>Занимается спортом</li>
              <li>Помогает другим зависимым</li>
            </ul>
            </p>
          </li>
          <span class="histories__separator"></span>
          <li class="histories__content-item">
            <blockquote>“Главное - признать проблему и довериться специалистам. Теперь я знаю, что любую зависимость
              можно победить.”</blockquote>
          </li>
        </ul>
      </li>
  </div>
  <div class="swiper-btn-container">
    <button class="choose__nav swiper-btn swiper-btn_left">
    </button>
    <button class="choose__nav swiper-btn swiper-btn_right">
    </button>
  </div>
  </div>

</section>
