<section class="how-procedure container_b">
  <h2 class="how-procedure__title main-title"><span>Как проходит</span> процедура?</h2>
  <div class="how-procedure__details-wrap">
    <div class="how-procedure__details-items">
      <div class="how-procedure__details-item">
        <div class="how-procedure__details-title">
          <p class="how-procedure__details__title">Доступные методы лечения</p>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M18.25.3a1 1 0 0 1 1.45 0l3.99 3.99a1 1 0 0 1 0 1.45c-.4.4-1.05.4-1.45 0l-1.27-1.27-2.26 2.27 1.15 1.15c1.04 1.04 1.55 1.56 1.77 2.14a2.9 2.9 0 0 1 0 1.93c-.22.59-.73 1.11-1.77 2.14l-.16.16-9.97-9.97.16-.16c1.03-1.04 1.55-1.55 2.14-1.77a2.9 2.9 0 0 1 1.93 0c.58.22 1.1.73 2.14 1.77l1.15 1.15 2.27-2.26-1.27-1.27c-.4-.4-.4-1.05 0-1.45ZM8.28 5.74 4.02 10a7.04 7.04 0 0 0-.68 9.19L.3 22.24a1 1 0 0 0 0 1.45 1 1 0 0 0 1.45 0l3.05-3.04a7.07 7.07 0 0 0 8.12.21l-2.16-2.17a1 1 0 0 1 0-1.45c.4-.4 1.05-.4 1.45 0l2.26 2.26.79-.79-3.96-3.96c-.4-.4-.4-1.05 0-1.46.4-.4 1.05-.4 1.45 0l3.96 3.96 1.54-1.54-9.97-9.97Z">
              </path>
            </svg>
          </div>
        </div>
        <ul class="how-procedure__details-list">
          <li>
            <p class="how-procedure__details-subtitle">Эспераль</p>
            <p class="how-procedure__details-subtitle how-procedure__details-subtitle--ops">12 месяцев</p>
          </li>
          <span class="how-procedure__details-separator"></span>
          <li>
            <p class="how-procedure__details-subtitle">Химическая защита</p>
            <p class="how-procedure__details-subtitle how-procedure__details-subtitle--ops">6-12 месяцев</p>
          </li>
          <span class="how-procedure__details-separator"></span>
          <li>
            <p class="how-procedure__details-subtitle">Комбинированные методы</p>
          </li>
        </ul>
      </div>
      <div class="how-procedure__details-item">
        <div class="how-procedure__details-title">
          <p class="how-procedure__details__title">Наши гарантии</p>
          <div class="point-mark">
            <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.961408 4.19889C0.5 4.84433 0.5 6.76289 0.5 10.6V12.4896C0.5 19.2553 5.68095 22.5386 8.93157 23.9327C9.81335 24.3109 10.2542 24.5 11.5 24.5C12.7458 24.5 13.1866 24.3109 14.0684 23.9327C17.319 22.5386 22.5 19.2553 22.5 12.4896V10.6C22.5 6.76289 22.5 4.84433 22.0386 4.19889C21.5772 3.55345 19.7398 2.93595 16.0651 1.70095L15.365 1.46566C13.4495 0.821887 12.4917 0.5 11.5 0.5C10.5083 0.5 9.55053 0.821887 7.635 1.46566L6.93489 1.70095C3.26017 2.93595 1.42282 3.55345 0.961408 4.19889ZM15.2393 10.6994C15.5765 10.3286 15.5437 9.7597 15.1661 9.42866C14.7884 9.09761 14.209 9.12981 13.8718 9.50059L10.1905 13.5487L9.12822 12.3806C8.79104 12.0098 8.21157 11.9776 7.83393 12.3087C7.45629 12.6397 7.42349 13.2086 7.76067 13.5794L9.5067 15.4994C9.68062 15.6907 9.92935 15.8 10.1905 15.8C10.4516 15.8 10.7003 15.6907 10.8743 15.4994L15.2393 10.6994Z"
                fill="#4995EC" />
            </svg>
          </div>
        </div>
        <ul class="how-procedure__details-list">
          <li>
            <p class="how-procedure__details-subtitle">Письменная гарантия результата</p>
          </li>
          <span class="how-procedure__details-separator"></span>
          <li>
            <p class="how-procedure__details-subtitle">Полная конфиденциальность</p>
          </li>
          <span class="how-procedure__details-separator"></span>
          <li>
            <p class="how-procedure__details-subtitle">Комбинированные методы</p>
          </li>
        </ul>
      </div>
      <div class="preparation__plashka desktop how-procedure__plashka">
        <p>Запишитесь на бесплатную консультацию</p>
        <a href="" class="btn btn_call btn_light">
          <span>записаться</span>
          <div class="point-mark point-plus"></div>
        </a>
      </div>
    </div>
  </div>
  <button class="btn btn_consult how-procedure__button popup-btn btn_accent" data-path="popup-consult">
    <span>бесплатная консультация</span>
    <div class="point-mark"><span></span><span></span></div>
  </button>
  <div class="how-procedure__wrap">
    <div class="how-procedure__content">
      <ul class="how-procedure__list">
        <li class="how-procedure__item">
          <div class="how-procedure__top-container">
            <div class="how-procedure__subtitle__wrapper">
              <p class="how-procedure__subtitle">Первая консультация и подбор лечения</p>
            </div>
            <button class="how-procedure__btn how-procedure__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="how-procedure__bottom-container">
            <div class="how-procedure__bottom-top">
              <div class="how-procedure__bottom-transfers">
                <div class="how-procedure__bottom-transfer">
                  <p>конфиденциальная беседа с врачом-наркологом</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>первичная оценка состояния</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>ответы на ваши вопросы о методах лечения</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>запись на диагностику</p>
                </div>

              </div>
            </div>
            <!-- <div class="how-procedure__bottom-picture">

            </div> -->
          </div>
          <picture class="how-procedure__picture">
            <source src="./assets/img/photos/stocks-test.webp" type="image/webp">
            <img src="./assets/img/photos/stocks-test.jpg" alt="Акция от клиники">
          </picture>
        </li>
        <li class="how-procedure__item">
          <div class="how-procedure__top-container">
            <div class="how-procedure__subtitle__wrapper">
              <p class="how-procedure__subtitle">Первая консультация и подбор лечения</p>
            </div>
            <button class="how-procedure__btn how-procedure__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="how-procedure__bottom-container">
            <div class="how-procedure__bottom-top">
              <div class="how-procedure__bottom-transfers">
                <div class="how-procedure__bottom-transfer">
                  <p>конфиденциальная беседа с врачом-наркологом</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>первичная оценка состояния</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>ответы на ваши вопросы о методах лечения</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>запись на диагностику</p>
                </div>

              </div>
            </div>
          </div>
          <picture class="how-procedure__picture">
            <source src="./assets/img/photos/stocks-test.webp" type="image/webp">
            <img src="./assets/img/photos/stocks-test.jpg" alt="Акция от клиники">
          </picture>
        </li>
        <li class="how-procedure__item">
          <div class="how-procedure__top-container">
            <div class="how-procedure__subtitle__wrapper">
              <p class="how-procedure__subtitle">Первая консультация и подбор лечения</p>
            </div>
            <button class="how-procedure__btn how-procedure__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="how-procedure__bottom-container">
            <div class="how-procedure__bottom-top">
              <div class="how-procedure__bottom-transfers">
                <div class="how-procedure__bottom-transfer">
                  <p>конфиденциальная беседа с врачом-наркологом</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>первичная оценка состояния</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>ответы на ваши вопросы о методах лечения</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>запись на диагностику</p>
                </div>

              </div>
            </div>
          </div>
          <picture class="how-procedure__picture">
            <source src="./assets/img/photos/stocks-test.webp" type="image/webp">
            <img src="./assets/img/photos/stocks-test.jpg" alt="Акция от клиники">
          </picture>
        </li>
        <li class="how-procedure__item">
          <div class="how-procedure__top-container">
            <div class="how-procedure__subtitle__wrapper">
              <p class="how-procedure__subtitle">Первая консультация и подбор лечения</p>
            </div>
            <button class="how-procedure__btn how-procedure__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="how-procedure__bottom-container">
            <div class="how-procedure__bottom-top">
              <div class="how-procedure__bottom-transfers">
                <div class="how-procedure__bottom-transfer">
                  <p>конфиденциальная беседа с врачом-наркологом</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>первичная оценка состояния</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>ответы на ваши вопросы о методах лечения</p>
                </div>
                <div class="how-procedure__bottom-transfer">
                  <p>запись на диагностику</p>
                </div>

              </div>
            </div>
          </div>
          <picture class="how-procedure__picture">
            <source src="./assets/img/photos/stocks-test.webp" type="image/webp">
            <img src="./assets/img/photos/stocks-test.jpg" alt="Акция от клиники">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
