<section class="intro intro_service container">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Кодирование</li>
    </ul>
  </div>
  <div class="intro__body">
    <div class="intro__title-container">
      <h1 class="intro__title main-title">Кодирование
        от алкоголизма <span>в&nbsp;Саратове</span></h1>
      <p class="intro__price">
        <span class="intro__price__description">Стоимость:</span>
        <span class="intro__price__value">3 500 ₽</span>
      </p>
    </div>
    <div class="intro__block">
      <p>Мы помогаем вернуться к полноценной жизни, используя инновационные методики и персональный подход к каждому
        пациенту</p>
      <button class="btn btn_consult intro__button popup-btn btn_accent" data-path="popup-consult">
        <span>бесплатная консультация</span>
        <div class="point-mark"><span></span><span></span></div>
      </button>
      <button class="btn btn_call btn_light popup-btn" data-path="popup-consult">
        <span>обратный звонок</span>
        <div class="point-mark point-plus"></div>
      </button>
    </div>
    <div class="intro__swiper cards ">
      <div class="swiper-wrapper intro__cards cards__list">
        <div class="intro__content swiper-slide">
          <p class="intro__content__title"><span>20+</span>методик кодирования</p>
          <span class="intro__content__separator"></span>
          <p>Мы помогаем вернуться к полноценной жизни, используя инновационные методики</p>
        </div>
        <div class="intro__content swiper-slide">
          <p class="intro__content__title"><span>100%</span>анонимность</p>
          <span class="intro__content__separator"></span>
          <p>Мы помогаем вернуться к полноценной жизни, используя инновационные методики</p>
        </div>
        <div class="intro__content swiper-slide">
          <p class="intro__content__title"><span>30+</span>опытных специалистов</p>
          <span class="intro__content__separator"></span>
          <p>Мы помогаем вернуться к полноценной жизни, используя инновационные методики</p>
        </div>
      </div>

    </div>
  </div>
</section>
