<section class="intro intro_about container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">О клинике</li>
    </ul>
  </div>
  <div class="intro__body">
    <div class="intro__title-container">
      <h1 class="intro__title main-title">О клинике<span> ТорпедоМед</span></h1>
      <p class="intro__caption">
        Клиника ТорпедоМед – это современный центр лечения алкогольной зависимости, где мы подбираем максимально
        эффективный метод кодирования для каждого пациента.
      </p>
    </div>
    <div class="intro__block">
      <div class="intro__gallery__wrapper gallery__swiper">
        <div class="intro__gallery swiper-wrapper">
          <div class="intro__gallery__item swiper-slide">
            <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
              <picture>
                <source srcset="/assets/img/photos/gal1.webp" type="image/webp" />
                <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal1.jpeg" />
              </picture>
            </a>
          </div>
          <div class="intro__gallery__item swiper-slide">
            <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
              <picture>
                <source srcset="/assets/img/photos/gal2.webp" type="image/webp" />
                <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal2.jpeg" />
              </picture>
            </a>
          </div>
          <div class="intro__gallery__item swiper-slide">
            <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
              <picture>
                <source srcset="/assets/img/photos/gal3.webp" type="image/webp" />
                <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal3.jpeg" />
              </picture>
            </a>
          </div>
          <div class="intro__gallery__item swiper-slide">
            <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
              <picture>
                <source srcset="/assets/img/photos/gal3.webp" type="image/webp" />
                <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal3.jpeg" />
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="intro__swiper cards ">
      <div class="swiper-wrapper intro__cards">
        <div class="intro__content swiper-slide">
          <p class="intro__content__title"><span>20+</span>методик кодирования</p>
          <span class="intro__content__separator"></span>
          <p>Мы помогаем вернуться к полноценной жизни, используя инновационные методики</p>
        </div>
        <div class="intro__content swiper-slide">
          <p class="intro__content__title"><span>100%</span>анонимность</p>
          <span class="intro__content__separator"></span>
          <p>Мы помогаем вернуться к полноценной жизни, используя инновационные методики</p>
        </div>
        <div class="intro__content swiper-slide">
          <p class="intro__content__title"><span>30+</span>опытных специалистов</p>
          <span class="intro__content__separator"></span>
          <p>Мы помогаем вернуться к полноценной жизни, используя инновационные методики</p>
        </div>
      </div>

    </div>
  </div>
</section>
