<section class="intro intro_main">
  <div class="intro__content">
    <h1 class="intro__title main-title">Центр кодирования
      от алкоголизма <span>в&nbsp;Саратове</span></h1>
    <p class="intro__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и персональный
      подход к каждому пациенту</p>
    <div class="intro__block">
      <div class="point-mark point-card"></div>
      <div class="intro__description">Определим проблему<br>и назначим курс лечения:</div>
    </div>
    <button class="btn intro__button btn-popup btn_accent">
      <span>бесплатная консультация</span>
      <div class="point-mark"><span></span><span></span></div>
    </button>
  </div>
  <div class="intro__image">
    <picture>
      <source srcset="/assets/img/intro/doctor.webp" type="image/webp" />
      <img alt="Доктор Эспераль-Клиник" title="Доктор Эспераль-Клиник" loading="lazy" src="/assets/img/intro/doctor.png" />
    </picture>
  </div>
</section>
