<section class="knowledge container_b">
  <div class="knowledge__wrapper">
    <div class="knowledge__block">
      <h2 class="knowledge__title main-title"><span>База знаний </span>о лечении зависимостей</h2>
      <a href="/service.html" class="btn btn_consult knowledge__button btn_accent">
        <span>смотреть все</span>
        <div class="point-mark"><span></span><span></span></div>
      </a>
    </div>
    <div class="knowledge__block knowledge__swiper">
      <ul class="knowledge__list swiper-wrapper">
        <li class="knowledge__item">
          <picture class="knowledge__item__picture">
            <source srcset="./assets/img/photos/patient-hand.webp" type="image/webp">
            <img src="./assets/img/photos/patient-hand.jpeg" loading="lazy" alt="Консультация">
          </picture>
          <div class="knowledge__content">
            <div>
              <p class="knowledge__content-subtitle">Чем запой опасен для организма?</p>
              <p class="knowledge__content-text">Врачи настаивают на лечение запоя при алкоголизме на дому или в
                условиях
                стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</p>
            </div>
            <a href="#" class="btn btn_call btn_light express__button">
              <span>читать</span>
              <div class="point-mark point-arrow"></div>
            </a>
          </div>
        </li>
        <li class="knowledge__item">
          <picture class="knowledge__item__picture">
            <source srcset="./assets/img/photos/blood-lab.webp" type="image/webp">
            <img src="./assets/img/photos/blood-lab.jpeg" loading="lazy" alt="Консультация">
          </picture>
          <div class="knowledge__content">
            <div>
              <p class="knowledge__content-subtitle">Лабораторная диагностика при лечении алкоголизма</p>
              <p class="knowledge__content-text">Процедура лабораторного исследования крови на алкоголь направлена на
                выявление в ней определенных химических соединений, именующихся маркерами.</p>
            </div>
            <a href="#" class="btn btn_call btn_light express__button">
              <span>читать</span>
              <div class="point-mark point-arrow"></div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
