<section class="licenses container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Юридические документы и лицензии</li>
    </ul>
  </div>
  <h2 class="licenses__title main-title"><span>Юридические </span>документы и лицензии</h2>
  <div class="licenses__body">
    <div class="licenses__list pag-list pag-active">
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal3.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal3.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal2.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal2.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal2.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal2.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal2.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal2.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="licenses__item">
        <a href="./assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="./assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="./assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
    </div>
  </div>
  <button class="btn btn_call btn_light licenses__btn_more btn_more">
    <span>смотреть еще</span>
    <div class="point-mark point-plus"></div>
  </button>
  </div>
</section>
