<section class="legal-information container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Юридическая информация</li>
    </ul>
  </div>
  <div class="legal-information__wrap">
    <div class="legal-information__top">
      <h1 class="legal-information__title main-title"><span>Юридическая</span> информация
      </h1>
    </div>
    <div class="legal-information__content">
      <ul class="legal-information__list">
        <li class="legal-information__item">
          <div class="legal-information__top-container">
            <div class="legal-information__subtitle__wrapper">
              <p class="legal-information__subtitle">Порядок и условия предоставления платных
                медицинских услуг
              </p>
            </div>
            <button
              class="legal-information__btn legal-information__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="legal-information__bottom-container">
            <div class="legal-information__bottom-title">
              <p>Мы ценим обратную связь и внимательно относимся ко всем обращениям. Все
                обращения рассматриваются
                в
                соответствии с порядком, установленным Законом РФ «О защите прав
                потребителей».</p>
            </div>
            <div class="legal-information__bottom-wrap">
              <div class="legal-information__bottom-items">
                <div class="legal-information__bottom-subtitle">
                  Роскомнадзор
                </div>
                <div class="legal-information__bottom-item">
                  <p>Адрес для почтовой корреспонденции</p>
                  <p class="legal-information__bottom-text">ул. Ярмарочная, 16, офис 6,
                    Самара, Самарская обл.,
                    443001</p>
                  <div><span></span></div>
                </div>
                <div class="legal-information__bottom-item">
                  <p>Электронная почта</p>
                  <p class="legal-information__bottom-text">info@monblan-narcology.ru</p>
                  <div><span></span></div>
                </div>
                <div class="legal-information__bottom-item">
                  <p>Номер телефона</p>
                  <p class="legal-information__bottom-text">+7 (846) 333-20-87</p>
                </div>
              </div>
              <div class="legal-information__bottom-items">
                <div class="legal-information__bottom-subtitle">
                  Роскомнадзор
                </div>
                <div class="legal-information__bottom-item">
                  <p>Адрес для почтовой корреспонденции</p>
                  <p class="legal-information__bottom-text">ул. Ярмарочная, 16, офис 6,
                    Самара, Самарская обл.,
                    443001</p>
                  <div><span></span></div>
                </div>
                <div class="legal-information__bottom-item">
                  <p>Электронная почта</p>
                  <p class="legal-information__bottom-text">info@monblan-narcology.ru</p>
                  <div><span></span></div>
                </div>
                <div class="legal-information__bottom-item">
                  <p>Номер телефона</p>
                  <p class="legal-information__bottom-text">+7 (846) 333-20-87</p>
                </div>
              </div>

            </div>
          </div>
        </li>
        <li class="legal-information__item">
          <div class="legal-information__top-container">
            <div class="legal-information__subtitle__wrapper">
              <p class="legal-information__subtitle">Фельдшер скорой медицинской помощи</p>
            </div>
            <button
              class="legal-information__btn legal-information__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="legal-information__bottom-container">
            <div class="legal-information__bottom-title">
              <p>Мы ценим обратную связь и внимательно относимся ко всем обращениям. Все
                обращения рассматриваются
                в
                соответствии с порядком, установленным Законом РФ «О защите прав
                потребителей».</p>
            </div>
            <div class="legal-information__bottom-wrap">
              <div class="legal-information__bottom-items">
                <div class="legal-information__bottom-subtitle">
                  Роскомнадзор
                </div>
                <div class="legal-information__bottom-item">
                  <p>Адрес для почтовой корреспонденции</p>
                  <p class="legal-information__bottom-text">ул. Ярмарочная, 16, офис 6,
                    Самара, Самарская обл.,
                    443001</p>
                  <div><span></span></div>
                </div>
                <div class="legal-information__bottom-item">
                  <p>Электронная почта</p>
                  <p class="legal-information__bottom-text">info@monblan-narcology.ru</p>
                  <div><span></span></div>
                </div>
                <div class="legal-information__bottom-item">
                  <p>Номер телефона</p>
                  <p class="legal-information__bottom-text">+7 (846) 333-20-87</p>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>
