<div class="lechenie-accent container_b">
  <div class="lechenie-accent__body">
    <p class="lechenie-accent__title">Не откладывайте лечение, если приняли решение!</p>
    <form class="lechenie-accent__form">
      <input name="tel" type="tel" required class="input lechenie-accent__input">
      <label class="checkbox">
        <span class="checkbox-mark"></span>
        <input type="checkbox" checked="checked" required="">
        <span>Нажимая на кнопку, я даю согласие на обработку
          персональных данных согласно <a href="#" rel="nofollow">политики конфиденциальности</a></span>
      </label>
      <button class="btn btn_call btn_light lechenie-accent__button btn-popup">
        <span> бесплатная консультация</span>
        <div class="point-mark point-plus"></div>
      </button>
    </form>
  </div>
</div>
