<div class="lechenie container_b">
  <div class="lechenie__body">
    <div class="lechenie__content">
      <p class="lechenie__title main-title">
        <span>Не откладывайте лечение, </span>если приняли решение!
      </p>
      <div class="lechenie__block">
        <div class="point-mark">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 30">
            <path fill="#4995EC" fill-rule="evenodd"
              d="M11.4 1.8a7 7 0 0 1-.8.6 4 4 0 0 1-1.4.6l-1 .1c-1.2.1-1.8.1-2.3.3A4 4 0 0 0 3.4 6l-.3 2.3-.1 1a4 4 0 0 1-.6 1.4l-.6.8-1.4 1.8a4 4 0 0 0 0 3.6l1.4 1.8.6.8c.3.4.5.9.6 1.4l.1 1c.1 1.2.1 1.8.3 2.3A4 4 0 0 0 6 26.6l2.3.3h1l1.4.7.8.6 1.8 1.4a4 4 0 0 0 3.6 0l1.8-1.4c.4-.3.5-.5.8-.6a4 4 0 0 1 1.4-.6l1-.1 2.3-.3a4 4 0 0 0 2.5-2.5l.3-2.3v-1l.7-1.4.6-.8c.8-1 1.2-1.4 1.4-1.9a4 4 0 0 0 0-3.5l-1.4-1.8-.6-.8a4 4 0 0 1-.6-1.4l-.1-1-.3-2.3A4 4 0 0 0 24 3.4l-2.3-.3-1-.1a4 4 0 0 1-1.4-.6 7 7 0 0 1-.8-.6C17.6 1 17.2.6 16.7.4a4 4 0 0 0-3.5 0l-1.8 1.4Zm9.3 7.5c.5.4.5 1.2 0 1.7L11 20.7A1.2 1.2 0 1 1 9.2 19L19 9.2c.5-.4 1.3-.4 1.7 0Zm0 9.8a1.6 1.6 0 1 1-3.3 0 1.6 1.6 0 0 1 3.3 0Zm-9.8-6.6c1 0 1.7-.7 1.7-1.6a1.6 1.6 0 1 0-3.3 0c0 1 .7 1.7 1.6 1.7Z" />
          </svg>
        </div>
        <div class="intro__description">Дополнительная скидка 10%<br>при звонке с сайта</div>
      </div>
    </div>
    <div class="lechenie__content">
      <form class="lechenie__form">
        <input name="params[name][]" type="text" required class="input lechenie__input" placeholder="Ваше имя">
        <input name="params[phone][]" type="tel" required class="input lechenie__input"
          placeholder="+7 (999) 999-99-99">
        <label class="checkbox">
          <input type="checkbox" checked="checked" required="">
          <span class="checkbox-mark"></span>
          <span>Даю согласие на обработку персональных данных</span>
        </label>
        <button type="submit" class="btn btn_consult btn_accent lechenie__button">
          <span>отправить</span>
          <div class="point-mark">
            <span></span>
            <span></span>
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
