<div class="lechenie container_b">
  <div class="lechenie__body">
    <div class="lechenie__content">
      <p class="lechenie__title main-title">
        <span>Не откладывайте лечение, </span>если приняли решение!
      </p>
    </div>
    <div class="lechenie__content">
      <form class="lechenie__form">
        <input name="params[phone][]" type="tel" required class="input lechenie__input"
          placeholder="+7 (999) 999-99-99">
        <label class="checkbox">
          <input type="checkbox" checked="checked" required="">
          <span class="checkbox-mark"></span>
          <span>Нажимая кнопку я соглашаюсь с <a href="#">политикой конфединциальности</a> и <a
              href="#">пользовательским соглашением</a></span>
        </label>
        <button type="submit" class="btn btn_consult btn_accent lechenie__button">
          <span>отправить</span>
          <div class="point-mark">
            <span></span>
            <span></span>
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
