<section class="methods-alko container_b">
  <div class="methods-alko__top">
    <h2 class="methods-alko__title main-title"><span>Методы лечения</span> алкоголизма</h2>
    <p class="methods-alko__caption">Использование проверенные методики с доказанной эффективностью</p>
  </div>
  <div class="methods-alko__body methods-alko__swiper">
    <div class="methods-alko__list swiper-wrapper">
      <div class="methods-alko__item">
        <div>
          <div class="methods-alko__item__wrapper-title">
            <p class="methods-alko__item__title">Медикаментозное лечение</p>
            <div class="point-mark">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M1.8 1.8C0 3.5 0 6.3 0 12c0 5.7 0 8.5 1.8 10.2C3.5 24 6.3 24 12 24c5.7 0 8.5 0 10.2-1.8C24 20.5 24 17.7 24 12c0-5.7 0-8.5-1.8-10.2C20.5 0 17.7 0 12 0 6.3 0 3.5 0 1.8 1.8ZM18 12.3c.5 0 .9.4.9.9v6a.9.9 0 1 1-1.8 0v-6c0-.5.4-.9.9-.9Zm-5.1-7.5a.9.9 0 1 0-1.8 0v14.4a.9.9 0 1 0 1.8 0V4.8ZM6 7.5c.5 0 .9.4.9.9v10.8a.9.9 0 1 1-1.8 0V8.4c0-.5.4-.9.9-.9Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <span>от 10 дней</span>
          </div>
          <span class="methods-alko__separator"></span>
          <ul class="methods-alko__item__content">
            <li class="accent">от 3 000 ₽ / день</li>
            <li>устранение физической зависимости</li>
            <li>восстановление здоровья</li>
            <li>нормализация сна и аппетита</li>
          </ul>
        </div>
        <button class="btn btn_call btn_light methods-alko__item-button popup-btn" data-path="popup-consult">
          <span>записаться на консультацию</span>
          <div class="point-mark point-plus"></div>
        </button>
      </div>
      <div class="methods-alko__item">
        <div>
          <div class="methods-alko__item__wrapper-title">
            <p class="methods-alko__item__title">Кодирование</p>
            <div class="point-mark">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M1.8 1.8C0 3.5 0 6.3 0 12c0 5.7 0 8.5 1.8 10.2C3.5 24 6.3 24 12 24c5.7 0 8.5 0 10.2-1.8C24 20.5 24 17.7 24 12c0-5.7 0-8.5-1.8-10.2C20.5 0 17.7 0 12 0 6.3 0 3.5 0 1.8 1.8ZM18 12.3c.5 0 .9.4.9.9v6a.9.9 0 1 1-1.8 0v-6c0-.5.4-.9.9-.9Zm-5.1-7.5a.9.9 0 1 0-1.8 0v14.4a.9.9 0 1 0 1.8 0V4.8ZM6 7.5c.5 0 .9.4.9.9v10.8a.9.9 0 1 1-1.8 0V8.4c0-.5.4-.9.9-.9Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <span>1-5 лет</span>
          </div>
          <span class="methods-alko__separator"></span>
          <ul class="methods-alko__item__content">
            <li class="accent">от 5 000 ₽</li>
            <li>устранение физической зависимости</li>
            <li>восстановление здоровья</li>
            <li>нормализация сна и аппетита</li>
          </ul>
        </div>
        <button class="btn btn_call btn_light methods-alko__item-button popup-btn" data-path="popup-consult">
          <span>записаться на консультацию</span>
          <div class="point-mark point-plus"></div>
        </button>
      </div>
      <div class="methods-alko__item">
        <div>
          <div class="methods-alko__item__wrapper-title">
            <p class="methods-alko__item__title">Психотерапия</p>
            <div class="point-mark">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M1.8 1.8C0 3.5 0 6.3 0 12c0 5.7 0 8.5 1.8 10.2C3.5 24 6.3 24 12 24c5.7 0 8.5 0 10.2-1.8C24 20.5 24 17.7 24 12c0-5.7 0-8.5-1.8-10.2C20.5 0 17.7 0 12 0 6.3 0 3.5 0 1.8 1.8ZM18 12.3c.5 0 .9.4.9.9v6a.9.9 0 1 1-1.8 0v-6c0-.5.4-.9.9-.9Zm-5.1-7.5a.9.9 0 1 0-1.8 0v14.4a.9.9 0 1 0 1.8 0V4.8ZM6 7.5c.5 0 .9.4.9.9v10.8a.9.9 0 1 1-1.8 0V8.4c0-.5.4-.9.9-.9Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <span>от 3 месяцев</span>
          </div>
          <span class="methods-alko__separator"></span>
          <ul class="methods-alko__item__content">
            <li class="accent">от 2 000 ₽ / сеанс</li>
            <li>устранение физической зависимости</li>
            <li>восстановление здоровья</li>
            <li>нормализация сна и аппетита</li>
          </ul>
        </div>
        <button class="btn btn_call btn_light methods-alko__item-button popup-btn" data-path="popup-consult">
          <span>записаться на консультацию</span>
          <div class="point-mark point-plus"></div>
        </button>
      </div>
      <div class="methods-alko__item">
        <div>
          <div class="methods-alko__item__wrapper-title">
            <p class="methods-alko__item__title">Комплексная программа</p>
            <div class="point-mark">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M1.8 1.8C0 3.5 0 6.3 0 12c0 5.7 0 8.5 1.8 10.2C3.5 24 6.3 24 12 24c5.7 0 8.5 0 10.2-1.8C24 20.5 24 17.7 24 12c0-5.7 0-8.5-1.8-10.2C20.5 0 17.7 0 12 0 6.3 0 3.5 0 1.8 1.8ZM18 12.3c.5 0 .9.4.9.9v6a.9.9 0 1 1-1.8 0v-6c0-.5.4-.9.9-.9Zm-5.1-7.5a.9.9 0 1 0-1.8 0v14.4a.9.9 0 1 0 1.8 0V4.8ZM6 7.5c.5 0 .9.4.9.9v10.8a.9.9 0 1 1-1.8 0V8.4c0-.5.4-.9.9-.9Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <span>от 1 месяца</span>
          </div>
          <span class="methods-alko__separator"></span>
          <ul class="methods-alko__item__content">
            <li class="accent">от 45 000 ₽</li>
            <li>устранение физической зависимости</li>
            <li>восстановление здоровья</li>
            <li>нормализация сна и аппетита</li>
          </ul>
        </div>
        <button class="btn btn_call btn_light methods-alko__item-button popup-btn" data-path="popup-consult">
          <span>записаться на консультацию</span>
          <div class="point-mark point-plus"></div>
        </button>
      </div>
    </div>
  </div>
</section>
