<section class="metods container_bl">
  <h2 class="metods__title main-title">Эффективные методы <span>кодирования</span></h2>
  <div class="metods__body metods__swiper">
    <div class="metods__list">
      <div class="metods__item swiper-slide">
        <p class="metods__item__title">Кодирование инъекцией</p>
        <ul class="metods__content-list">
          <li class="metods__content-item">
            <p class="metods__subtitle">Ввод лекарства уколом</p>
            <p class="metods__description">Надежные проверенные препараты</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Без анестезии</p>
            <p class="metods__description">Без боли и дискомфорта</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Время процедуры — 1 час</p>
            <p class="metods__description">Проводится в клинике или на дому</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Рекомендовано на 1-3 года</p>
            <p class="metods__description">Гарантия на весь срок</p>
          </li>
        </ul>
      </div>
      <div class="metods__item swiper-slide">
        <p class="metods__item__title">Подкожное введение</p>
        <ul class="metods__content-list">
          <li class="metods__content-item">
            <p class="metods__subtitle">Ввод лекарства уколом</p>
            <p class="metods__description">Надежные проверенные препараты</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Без анестезии</p>
            <p class="metods__description">Без боли и дискомфорта</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Время процедуры — 1 час</p>
            <p class="metods__description">Проводится в клинике или на дому</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Рекомендовано на 1-3 года</p>
            <p class="metods__description">Гарантия на весь срок</p>
          </li>
        </ul>
      </div>
      <div class="metods__item swiper-slide">
        <p class="metods__item__title">Кодирование психотерапией</p>
        <ul class="metods__content-list">
          <li class="metods__content-item">
            <p class="metods__subtitle">Ввод лекарства уколом</p>
            <p class="metods__description">Надежные проверенные препараты</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Без анестезии</p>
            <p class="metods__description">Без боли и дискомфорта</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Время процедуры — 1 час</p>
            <p class="metods__description">Проводится в клинике или на дому</p>
          </li>
          <span class="metods__separator"></span>
          <li class="metods__content-item">
            <p class="metods__subtitle">Рекомендовано на 1-3 года</p>
            <p class="metods__description">Гарантия на весь срок</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
