<section class="myths container_b">
  <div class="myths__wrap">
    <div class="myths__top">
      <h2 class="myths__title main-title"><span>5 мифов</span><br>
        о кодировании</h2>
    </div>
    <div class="myths__content">
      <ul class="myths__list">
        <li class="myths__item">
          <div class="myths__top-container">
            <div class="myths__subtitle__wrapper">
              <p class="myths__subtitle">Обращение к психиатру ставит «клеймо» на всю жизнь</p>
            </div>
            <button class="myths__btn myths__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="myths__bottom-container">
            <div class="myths__bottom-true">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0Zm-6-3c.3.3.3.7 0 1l-5 5c-.3.3-.7.3-1 0l-2-2a.7.7 0 1 1 1-1l1.5 1.4 2.2-2.2L13 7c.3-.3.7-.3 1 0Z"
                  clip-rule="evenodd" />
              </svg>
              <p>Правда</p>
            </div>
            <div class="myths__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="myths__bottom-advantages">
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path fill="#fff" fill-rule="evenodd"
                    d="M1.3 1.3C0 2.6 0 4.8 0 9s0 6.4 1.3 7.7C2.6 18 4.8 18 9 18s6.4 0 7.7-1.3C18 15.4 18 13.2 18 9s0-6.4-1.3-7.7C15.4 0 13.2 0 9 0S2.6 0 1.3 1.3Zm12.2 8c.4 0 .7.2.7.6v4.5a.7.7 0 1 1-1.4 0V9.9c0-.4.3-.7.7-.7ZM9.7 3.5a.7.7 0 0 0-1.4 0v10.8a.7.7 0 1 0 1.4 0V3.6Zm-5.2 2c.4 0 .7.3.7.7v8.1a.7.7 0 1 1-1.4 0V6.3c0-.4.3-.7.7-.7Z"
                    clip-rule="evenodd" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                  <path fill="#fff"
                    d="M3.5 3.3c0 1.6 1.7 3.2 3.1 4.3.8.6 1.2.9 1.9.9s1-.3 1.9-1c1.4-1 3.1-2.6 3.1-4.2 0-2.8-2.8-3.8-5-1.6-2.2-2.2-5-1.2-5 1.6ZM2.8 18.9h-.3c-1 0-1.4 0-1.7-.3-.3-.3-.3-.8-.3-1.7v-1.1l.1-1c.2-.3.4-.4.8-.6 2.6-1.6 6.4-2.4 8.9-1l.4.4c.6.7.5 1.6-.1 2.2a1 1 0 0 1-.4.2h.3c1-.2 1.7-.7 2.4-1.2l1.8-1.4c.6-.4 1.6-.4 2.2 0 .6.5.8 1.2.4 1.8-.4.6-1 1.5-1.6 2a9.2 9.2 0 0 1-4.6 2.1c-1.8.3-3.6.3-5.3-.1l-3-.3Z" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="myths__item">
          <div class="myths__top-container">
            <div class="myths__subtitle__wrapper">
              <p class="myths__subtitle">Обращение к психиатру ставит «клеймо» на всю жизнь</p>
            </div>
            <button class="myths__btn myths__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="myths__bottom-container">
            <div class="myths__bottom-true">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0Zm-6-3c.3.3.3.7 0 1l-5 5c-.3.3-.7.3-1 0l-2-2a.7.7 0 1 1 1-1l1.5 1.4 2.2-2.2L13 7c.3-.3.7-.3 1 0Z"
                  clip-rule="evenodd" />
              </svg>
              <p>Правда</p>
            </div>
            <div class="myths__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="myths__bottom-advantages">
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path fill="#fff" fill-rule="evenodd"
                    d="M1.3 1.3C0 2.6 0 4.8 0 9s0 6.4 1.3 7.7C2.6 18 4.8 18 9 18s6.4 0 7.7-1.3C18 15.4 18 13.2 18 9s0-6.4-1.3-7.7C15.4 0 13.2 0 9 0S2.6 0 1.3 1.3Zm12.2 8c.4 0 .7.2.7.6v4.5a.7.7 0 1 1-1.4 0V9.9c0-.4.3-.7.7-.7ZM9.7 3.5a.7.7 0 0 0-1.4 0v10.8a.7.7 0 1 0 1.4 0V3.6Zm-5.2 2c.4 0 .7.3.7.7v8.1a.7.7 0 1 1-1.4 0V6.3c0-.4.3-.7.7-.7Z"
                    clip-rule="evenodd" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                  <path fill="#fff"
                    d="M3.5 3.3c0 1.6 1.7 3.2 3.1 4.3.8.6 1.2.9 1.9.9s1-.3 1.9-1c1.4-1 3.1-2.6 3.1-4.2 0-2.8-2.8-3.8-5-1.6-2.2-2.2-5-1.2-5 1.6ZM2.8 18.9h-.3c-1 0-1.4 0-1.7-.3-.3-.3-.3-.8-.3-1.7v-1.1l.1-1c.2-.3.4-.4.8-.6 2.6-1.6 6.4-2.4 8.9-1l.4.4c.6.7.5 1.6-.1 2.2a1 1 0 0 1-.4.2h.3c1-.2 1.7-.7 2.4-1.2l1.8-1.4c.6-.4 1.6-.4 2.2 0 .6.5.8 1.2.4 1.8-.4.6-1 1.5-1.6 2a9.2 9.2 0 0 1-4.6 2.1c-1.8.3-3.6.3-5.3-.1l-3-.3Z" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="myths__item">
          <div class="myths__top-container">
            <div class="myths__subtitle__wrapper">
              <p class="myths__subtitle">Обращение к психиатру ставит «клеймо» на всю жизнь</p>
            </div>
            <button class="myths__btn myths__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="myths__bottom-container">
            <div class="myths__bottom-true">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0Zm-6-3c.3.3.3.7 0 1l-5 5c-.3.3-.7.3-1 0l-2-2a.7.7 0 1 1 1-1l1.5 1.4 2.2-2.2L13 7c.3-.3.7-.3 1 0Z"
                  clip-rule="evenodd" />
              </svg>
              <p>Правда</p>
            </div>
            <div class="myths__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="myths__bottom-advantages">
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path fill="#fff" fill-rule="evenodd"
                    d="M1.3 1.3C0 2.6 0 4.8 0 9s0 6.4 1.3 7.7C2.6 18 4.8 18 9 18s6.4 0 7.7-1.3C18 15.4 18 13.2 18 9s0-6.4-1.3-7.7C15.4 0 13.2 0 9 0S2.6 0 1.3 1.3Zm12.2 8c.4 0 .7.2.7.6v4.5a.7.7 0 1 1-1.4 0V9.9c0-.4.3-.7.7-.7ZM9.7 3.5a.7.7 0 0 0-1.4 0v10.8a.7.7 0 1 0 1.4 0V3.6Zm-5.2 2c.4 0 .7.3.7.7v8.1a.7.7 0 1 1-1.4 0V6.3c0-.4.3-.7.7-.7Z"
                    clip-rule="evenodd" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                  <path fill="#fff"
                    d="M3.5 3.3c0 1.6 1.7 3.2 3.1 4.3.8.6 1.2.9 1.9.9s1-.3 1.9-1c1.4-1 3.1-2.6 3.1-4.2 0-2.8-2.8-3.8-5-1.6-2.2-2.2-5-1.2-5 1.6ZM2.8 18.9h-.3c-1 0-1.4 0-1.7-.3-.3-.3-.3-.8-.3-1.7v-1.1l.1-1c.2-.3.4-.4.8-.6 2.6-1.6 6.4-2.4 8.9-1l.4.4c.6.7.5 1.6-.1 2.2a1 1 0 0 1-.4.2h.3c1-.2 1.7-.7 2.4-1.2l1.8-1.4c.6-.4 1.6-.4 2.2 0 .6.5.8 1.2.4 1.8-.4.6-1 1.5-1.6 2a9.2 9.2 0 0 1-4.6 2.1c-1.8.3-3.6.3-5.3-.1l-3-.3Z" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="myths__item">
          <div class="myths__top-container">
            <div class="myths__subtitle__wrapper">
              <p class="myths__subtitle">Обращение к психиатру ставит «клеймо» на всю жизнь</p>
            </div>
            <button class="myths__btn myths__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="myths__bottom-container">
            <div class="myths__bottom-true">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0Zm-6-3c.3.3.3.7 0 1l-5 5c-.3.3-.7.3-1 0l-2-2a.7.7 0 1 1 1-1l1.5 1.4 2.2-2.2L13 7c.3-.3.7-.3 1 0Z"
                  clip-rule="evenodd" />
              </svg>
              <p>Правда</p>
            </div>
            <div class="myths__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="myths__bottom-advantages">
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path fill="#fff" fill-rule="evenodd"
                    d="M1.3 1.3C0 2.6 0 4.8 0 9s0 6.4 1.3 7.7C2.6 18 4.8 18 9 18s6.4 0 7.7-1.3C18 15.4 18 13.2 18 9s0-6.4-1.3-7.7C15.4 0 13.2 0 9 0S2.6 0 1.3 1.3Zm12.2 8c.4 0 .7.2.7.6v4.5a.7.7 0 1 1-1.4 0V9.9c0-.4.3-.7.7-.7ZM9.7 3.5a.7.7 0 0 0-1.4 0v10.8a.7.7 0 1 0 1.4 0V3.6Zm-5.2 2c.4 0 .7.3.7.7v8.1a.7.7 0 1 1-1.4 0V6.3c0-.4.3-.7.7-.7Z"
                    clip-rule="evenodd" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                  <path fill="#fff"
                    d="M3.5 3.3c0 1.6 1.7 3.2 3.1 4.3.8.6 1.2.9 1.9.9s1-.3 1.9-1c1.4-1 3.1-2.6 3.1-4.2 0-2.8-2.8-3.8-5-1.6-2.2-2.2-5-1.2-5 1.6ZM2.8 18.9h-.3c-1 0-1.4 0-1.7-.3-.3-.3-.3-.8-.3-1.7v-1.1l.1-1c.2-.3.4-.4.8-.6 2.6-1.6 6.4-2.4 8.9-1l.4.4c.6.7.5 1.6-.1 2.2a1 1 0 0 1-.4.2h.3c1-.2 1.7-.7 2.4-1.2l1.8-1.4c.6-.4 1.6-.4 2.2 0 .6.5.8 1.2.4 1.8-.4.6-1 1.5-1.6 2a9.2 9.2 0 0 1-4.6 2.1c-1.8.3-3.6.3-5.3-.1l-3-.3Z" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="myths__item">
          <div class="myths__top-container">
            <div class="myths__subtitle__wrapper">
              <p class="myths__subtitle">Обращение к психиатру ставит «клеймо» на всю жизнь</p>
            </div>
            <button class="myths__btn myths__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="myths__bottom-container">
            <div class="myths__bottom-true">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path fill="#4995EC" fill-rule="evenodd"
                  d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0Zm-6-3c.3.3.3.7 0 1l-5 5c-.3.3-.7.3-1 0l-2-2a.7.7 0 1 1 1-1l1.5 1.4 2.2-2.2L13 7c.3-.3.7-.3 1 0Z"
                  clip-rule="evenodd" />
              </svg>
              <p>Правда</p>
            </div>
            <div class="myths__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
            <div class="myths__bottom-advantages">
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path fill="#fff" fill-rule="evenodd"
                    d="M1.3 1.3C0 2.6 0 4.8 0 9s0 6.4 1.3 7.7C2.6 18 4.8 18 9 18s6.4 0 7.7-1.3C18 15.4 18 13.2 18 9s0-6.4-1.3-7.7C15.4 0 13.2 0 9 0S2.6 0 1.3 1.3Zm12.2 8c.4 0 .7.2.7.6v4.5a.7.7 0 1 1-1.4 0V9.9c0-.4.3-.7.7-.7ZM9.7 3.5a.7.7 0 0 0-1.4 0v10.8a.7.7 0 1 0 1.4 0V3.6Zm-5.2 2c.4 0 .7.3.7.7v8.1a.7.7 0 1 1-1.4 0V6.3c0-.4.3-.7.7-.7Z"
                    clip-rule="evenodd" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
              <div class="myths__bottom-advantage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                  <path fill="#fff"
                    d="M3.5 3.3c0 1.6 1.7 3.2 3.1 4.3.8.6 1.2.9 1.9.9s1-.3 1.9-1c1.4-1 3.1-2.6 3.1-4.2 0-2.8-2.8-3.8-5-1.6-2.2-2.2-5-1.2-5 1.6ZM2.8 18.9h-.3c-1 0-1.4 0-1.7-.3-.3-.3-.3-.8-.3-1.7v-1.1l.1-1c.2-.3.4-.4.8-.6 2.6-1.6 6.4-2.4 8.9-1l.4.4c.6.7.5 1.6-.1 2.2a1 1 0 0 1-.4.2h.3c1-.2 1.7-.7 2.4-1.2l1.8-1.4c.6-.4 1.6-.4 2.2 0 .6.5.8 1.2.4 1.8-.4.6-1 1.5-1.6 2a9.2 9.2 0 0 1-4.6 2.1c-1.8.3-3.6.3-5.3-.1l-3-.3Z" />
                </svg>
                <div class="myths__bottom-text">
                  <p>70% пациентов полностью возвращаются к обычной жизни после лечения</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
