<section class="offers container_b">
  <div class="offers__wrapper">
    <div class="offers__block">
      <h2 class="offers__title main-title">Возможно вас <span>заинтересует</span></h2>
      <ul class="offers__links-list">
        <li class="offers__links-item">
          <a href="#" class="btn btn_call offers__links-link btn_light express__button">
            <span>кодирование от алкоголизма на дому</span>
            <div class="point-mark point-arrow"></div>
          </a>
        </li>
        <li class="offers__links-item">
          <a href="#" class="btn btn_call offers__links-link btn_light express__button">
            <span>как подготовиться к кодированию</span>
            <div class="point-mark point-arrow"></div>
          </a>
        </li>
        <li class="offers__links-item">
          <a href="#" class="btn btn_call offers__links-link btn_light express__button">
            <span>кодирование от алкоголизма на дому</span>
            <div class="point-mark point-arrow"></div>
          </a>
        </li>
        <li class="offers__links-item">
          <a href="#" class="btn btn_call offers__links-link btn_light express__button">
            <span>кодирование от алкоголизма на дому</span>
            <div class="point-mark point-arrow"></div>
          </a>
        </li>
      </ul>
    </div>
    <div class="offers__block offers__swiper">
      <ul class="offers__list swiper-wrapper">
        <li class="offers__item">
          <picture class="offers__item__picture">
            <source srcset="/assets/img/photos/patient-hand.webp" type="image/webp">
            <img src="/assets/img/photos/patient-hand.jpeg" alt="Консультация">
          </picture>
          <div class="offers__content">
            <div>
              <p class="offers__content-subtitle">Чем запой опасен для организма?</p>
              <p class="offers__content-text">Врачи настаивают на лечение запоя при алкоголизме на дому или в
                условиях
                стационара. Со временем организм становится слабее, не может выдерживать прежние дозы.</p>
            </div>
            <a href="#" class="btn btn_call btn_light express__button">
              <span>читать</span>
              <div class="point-mark point-arrow"></div>
            </a>
          </div>
        </li>
        <li class="offers__item">
          <picture class="offers__item__picture">
            <source srcset="/assets/img/photos/blood-lab.webp" type="image/webp">
            <img src="/assets/img/photos/blood-lab.jpeg" alt="Консультация">
          </picture>
          <div class="offers__content">
            <div>
              <p class="offers__content-subtitle">Лабораторная диагностика при лечении алкоголизма</p>
              <p class="offers__content-text">Процедура лабораторного исследования крови на алкоголь направлена на
                выявление в ней определенных химических соединений, именующихся маркерами.</p>
            </div>
            <a href="#" class="btn btn_call btn_light express__button">
              <span>читать</span>
              <div class="point-mark point-arrow"></div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
