<section class="our-services section-offset">
	<div class="content">
		<p class="section-title our-services__title">
			<span>Наши услуги</span>
		</p>
		<div class="our-services__tabs">
			<ul class="our-services__tabs-list">
				<li>Лечение наркомании</li>
				<li>Кодирование от алкоголя</li>
			</ul>
			<div class="our-services__tab-content-wrapper">
				<div class="our-services__tab-content text-block">
						<p class="our-services__tab-title">
							Лечение наркомании
						</p>
						<p>Мы предлагаем эффективное лечение любых форм наркотической зависимости. В нашем центре работают опытные профессионалы, которые гарантированно избавят от физической и психологической аддикции на любой стадии.</p>
						<p>Наши методики и индивидуальный подход позволяют обеспечить высокий уровень безопасности для каждого пациента.</p>
						<p>В перечень услуг входит: лечение в условиях амбулатории, выезд специалистов на дом для снятия абстиненции и пребывание в реабилитационной клинике под наблюдением специалистов.</p>
						<p>Наши цены делают профессиональную помощь доступной каждому человеку.</p>
						<a class="our-services__button">
							Подробнее о лечении наркомании
						</a>
				</div>
				<div class="our-services__tab-content text-block">
					<p class="our-services__tab-title">
						Кодирование от алкоголя
					</p>
					<p>Наши специалисты помогут справиться с этиловой зависимостью при помощи медикаментозных и психотерапевтических методов.</p>
					<p>Мы используем только качественные современные препараты и гарантируем безопасность лечения для каждого пациента. Благодаря индивидуально подбираемой методике, алкоголик может избавиться от патологической тяги к спиртному на заранее установленный срок.</p>
					<p>Высокий уровень профессионализма наших врачей позволяет навсегда избавить пациентов от алкоголизма.</p>
					<p>Мы предлагаем доступные расценки и гарантию результата.</p>
					<a class="our-services__button">
						Подробнее о кодировании от алкоголя
					</a>
				</div>
			</div>
		</div>
	</div>
</section>