<section class="photos container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Фотогалерея</li>
    </ul>
  </div>
  <h2 class="photos__title main-title"><span>Фотогалерея </span>клиники</h2>
  <div class="photos__body">
    <div class="photos__list pag-list pag-active">
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal3.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal3.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal2.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal2.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal2.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal2.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal2.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal2.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
      <div class="photos__item">
        <a href="/assets/img/photos/gal3.webp" data-fancybox="gallery">
          <picture>
            <source srcset="/assets/img/photos/gal1.webp" type="image/webp" />
            <img alt="Эспераль-клиник" title="Эспераль-клиник" loading="lazy" src="/assets/img/photos/gal1.jpeg" />
          </picture>
        </a>
      </div>
    </div>
  </div>
  <button class="btn btn_call btn_light photos__btn_more btn_more">
    <span>смотреть еще</span>
    <div class="point-mark point-plus"></div>
  </button>
  </div>
</section>
