<section class="preparation cards container_b">
  <div class="preparation__content">
    <h2 class="preparation__title main-title">Как подготовиться <span>к кодированию</span></h2>
    <div class="preparation__body cards__swiper">
      <div class="preparation__list cards__list">
        <div class="preparation__item swiper-slide">
          <div class="preparation__item__wrapper-title">
            <p class="preparation__item__title preparation__item__title_accent">за 7 дней</p>
            <p class="preparation__item__title">до процедуры</p>
          </div>
          <ul class="preparation__content-list">
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Исключить прием алкоголя</p>
              <p class="preparation__description">Полный отказ от любых алкогольных напитков</p>
            </li>
            <span class="preparation__separator"></span>
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Сдать анализы</p>
              <p class="preparation__description">Общий анализ крови, печеночные пробы, ЭКГ</p>
            </li>
            <span class="preparation__separator"></span>
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Начать витаминотерапию</p>
              <p class="preparation__description">По назначению врача для поддержки организма</p>
            </li>
          </ul>
        </div>
        <div class="preparation__item swiper-slide">
          <div class="preparation__item__wrapper-title">
            <p class="preparation__item__title preparation__item__title_accent">за 3 дня</p>
            <p class="preparation__item__title">до процедуры</p>
          </div>
          <ul class="preparation__content-list">
            <span class="preparation__separator"></span>
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Исключить прием алкоголя</p>
              <p class="preparation__description">Полный отказ от любых алкогольных напитков</p>
            </li>
            <span class="preparation__separator"></span>
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Сдать анализы</p>
              <p class="preparation__description">Общий анализ крови, печеночные пробы, ЭКГ</p>
            </li>
            <span class="preparation__separator"></span>
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Начать витаминотерапию</p>
              <p class="preparation__description">По назначению врача для поддержки организма</p>
            </li>
          </ul>
        </div>
        <div class="preparation__item swiper-slide">
          <div class="preparation__item__wrapper-title">
            <p class="preparation__item__title preparation__item__title_accent">за 1 день</p>
            <p class="preparation__item__title">до процедуры</p>
          </div>
          <ul class="preparation__content-list">
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Исключить прием алкоголя</p>
              <p class="preparation__description">Полный отказ от любых алкогольных напитков</p>
            </li>
            <span class="preparation__separator"></span>
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Сдать анализы</p>
              <p class="preparation__description">Общий анализ крови, печеночные пробы, ЭКГ</p>
            </li>
            <span class="preparation__separator"></span>
            <li class="preparation__content-item">
              <p class="preparation__subtitle">Начать витаминотерапию</p>
              <p class="preparation__description">По назначению врача для поддержки организма</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="preparation__plashka">
      <p>Скачайте план обязательного обследования для вашего удобства</p>
      <a href="" class="btn btn_call btn_light preparation__download" download="">
        <span>скачать ПДФ</span>
        <div class="point-mark point-plus"></div>
      </a>
    </div>
  </div>
</section>
