<div class="price section-offset">
	<div class="content">
		<h2 class="section-title price__title">
			<span>
				Цены
			</span>
		</h2>
		<div class="price__inner">
			<div class="price__item change-item">
				<div class="price__header">
					<p class="price__category">
						Алкоголизм
					</p>
					<p class="price__name change-title">
						Вывод из запоя
					</p>
				</div>
				<ul class="price__list">
					<li>Система капельниц в 3 этапа (по усмотрению врача)</li>
					<li>Наркологи со стажем от 10 лет</li>
					<li>Индивидуальный подбор лекарств</li>
					<li>Назначение терапии</li>
					<li>Запас лекарств на 3 дня</li>
				</ul>
				<div class="price__cost">
					<p>3 500 руб.</p>
					<p>1 500 руб.</p>
				</div>
				<button class="button button_red button_medium price__button popup-btn" data-path="popup-change">
					Начать лечение
				</button>
			</div>

			<div class="price__item price__item_hit change-item">
				<div class="price__header">
					<p class="price__category">
						Алкоголизм
					</p>
					<p class="price__name change-title">
						Вывод из запоя
					</p>
				</div>
				<ul class="price__list">
					<li>Система капельниц в 3 этапа (по усмотрению врача)</li>
					<li>Наркологи со стажем от 10 лет</li>
					<li>Индивидуальный подбор лекарств</li>
					<li>Назначение терапии</li>
					<li>Запас лекарств на 3 дня</li>
					<li>Система капельниц в 3 этапа (по усмотрению врача)</li>
					<li>Наркологи со стажем от 10 лет</li>
					<li>Индивидуальный подбор лекарств</li>
					<li>Назначение терапии</li>
					<li>Запас лекарств на 3 дня</li>
				</ul>
				<div class="price__cost">
					<p>3 500 руб.</p>
					<p>1 500 руб.</p>
				</div>
				<button class="button button_red button_medium price__button popup-btn popup-change" data-path="popup-change">
					Начать лечение
				</button>
			</div>

			<div class="price__item change-item">
				<div class="price__header">
					<p class="price__category">
						Алкоголизм
					</p>
					<p class="price__name change-title">
						Вывод из запоя
					</p>
				</div>
				<ul class="price__list">
					<li>Система капельниц в 3 этапа (по усмотрению врача)</li>
					<li>Наркологи со стажем от 10 лет</li>
					<li>Индивидуальный подбор лекарств</li>
					<li>Назначение терапии</li>
					<li>Запас лекарств на 3 дня</li>
				</ul>
				<div class="price__cost">
					<p>3 500 руб.</p>
					<p>1 500 руб.</p>
				</div>
				<button class="button button_red button_medium price__button popup-btn" data-path="popup-change">
					Начать лечение
				</button>
			</div>

			<div class="price__item change-item">
				<div class="price__header">
					<p class="price__category">
						Алкоголизм
					</p>
					<p class="price__name change-title">
						Вывод из запоя
					</p>
				</div>
				<ul class="price__list">
					<li>Система капельниц в 3 этапа (по усмотрению врача)</li>
					<li>Наркологи со стажем от 10 лет</li>
					<li>Индивидуальный подбор лекарств</li>
					<li>Назначение терапии</li>
					<li>Запас лекарств на 3 дня</li>
					<li>Система капельниц в 3 этапа (по усмотрению врача)</li>
					<li>Наркологи со стажем от 10 лет</li>
					<li>Индивидуальный подбор лекарств</li>
					<li>Назначение терапии</li>
					<li>Запас лекарств на 3 дня</li>
				</ul>
				<div class="price__cost">
					<p>3 500 руб.</p>
					<p>1 500 руб.</p>
				</div>
				<button class="button button_red button_medium price__button popup-btn popup-change" data-path="popup-change">
					Начать лечение
				</button>
			</div>
		</div>
	</div>
</div>