<section class="prices container_bl">
  <h2 class="prices__title main-title"><span>Цены</span> на лечение</h2>
  <div class="prices__item">
    <div class="prices__top-container">
      <div class="prices__subtitle__wrapper">
        <p class="prices__subtitle">Лечение алкоголизма</p>
        <p><span>12 специалистов</span> | <span>27 услуг</span></p>
      </div>
    </div>
    <div class="prices__bottom-container">
      <div class="bottom-container__inner pag-wrapper">
        <table class="prices__table">
          <thead>
            <tr class="prices__table__title">
              <th colspan="2">Название услуги</th>
              <th>Стоимость</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="pag-list pag-active hide-items">
            <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
             <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
            <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
            <tr>
              <td class="hide-item">
                <p class="hide-item__title">Капельница + терапия Стандарт</p>
                <div class="hide-item__height">
                  <div class="hide-item__content">
                    <p>Предварительное генетическое тестирование для выбора наиболее эффективного метода кодирования</p>
                  </div>
                </div>
              </td>
              <td>2 000 ₽</td>
              <td><button class="btn popup-btn" data-path="popup-consult">Записаться</button></td>
            </tr>
          </tbody>
        </table>
        <button class="btn prices__btn prices__btn_more btn_more">
          <span>Смотреть еще</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 11.51 5.5">
            <path stroke="#4995EC" stroke-linecap="round" stroke-width="1.5" d="m10.75.75-5 4-5-4" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
