<section class="section-offset">
	<div class="content">
		<h2 class="section-title">
			<span>Цены</span>
		</h2>
		<table class="price-table">
			<thead>
				<tr>
					<th colspan="3">Вывод из запоя — цены на медицинские услуги в Екатеринбурге</th>
				</tr>
			</thead>
			<tbody>
				<tr class="price-table__row change-item">
					<td class="price-table__name change-title">
						Обычный курс
					</td>
					<td class="price-table__cost">
						1500 руб.
					</td>
					<td>
						<button class="price-table__button button button_red button_medium button_fill popup-btn" data-path="popup-change">Заказать</button>
					</td>
				</tr>
				<tr class="price-table__row change-item">
					<td class="price-table__name change-title">
						Обычный курс
					</td>
					<td class="price-table__cost">
						1500 руб.
					</td>
					<td>
						<button class="price-table__button button button_red button_medium button_fill popup-btn" data-path="popup-change">Заказать</button>
					</td>
				</tr>
				<tr class="price-table__row change-item">
					<td class="price-table__name change-title">
						Обычный курс
					</td>
					<td class="price-table__cost">
						1500 руб.
					</td>
					<td>
						<button class="price-table__button button button_red button_medium button_fill popup-btn" data-path="popup-change">Заказать</button>
					</td>
				</tr>
				<tr class="price-table__row change-item">
					<td class="price-table__name change-title">
						Обычный курс
					</td>
					<td class="price-table__cost">
						1500 руб.
					</td>
					<td>
						<button class="price-table__button button button_red button_medium button_fill popup-btn" data-path="popup-change">Заказать</button>
					</td>
				</tr>
				<tr class="price-table__row change-item">
					<td class="price-table__name change-title">
						Обычный курс
					</td>
					<td class="price-table__cost">
						1500 руб.
					</td>
					<td>
						<button class="price-table__button button button_red button_medium button_fill popup-btn" data-path="popup-change">Заказать</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>