<section class="principles container_b">
  <div class="principles__block">
    <h2 class="principles__title main-title">Принцип работы<span> метода Эспераль</span></h2>
    <div class="principles__content principles__swiper">
      <ul class="principles__list swiper-wrapper">
        <li class="principles__item swiper-slide active">
          <p class="principles__subtitle">Первичное воздействие</p>
          <p class="principles__description">Препарат "Эспераль" вводится в организм с помощью подкожной имплантации
            (вживления) — обычно в области ягодицы или под лопатку. Под кожу устанавливается капсула или таблетка,
            содержащая активное вещество дисульфирам. Оно постепенно высвобождается в кровь.</p>
        </li>
        <li class="principles__item swiper-slide">
          <p class="principles__subtitle">Первичное воздействие</p>
          <p class="principles__description">Препарат "Эспераль" вводится в организм с помощью подкожной имплантации
            (вживления) — обычно в области ягодицы или под лопатку. Под кожу устанавливается капсула или таблетка,
            содержащая активное вещество дисульфирам. Оно постепенно высвобождается в кровь.</p>
        </li>
        <li class="principles__item swiper-slide">
          <p class="principles__subtitle">Первичное воздействие</p>
          <p class="principles__description">Препарат "Эспераль" вводится в организм с помощью подкожной имплантации
            (вживления) — обычно в области ягодицы или под лопатку. Под кожу устанавливается капсула или таблетка,
            содержащая активное вещество дисульфирам. Оно постепенно высвобождается в кровь.</p>
        </li>
        <li class="principles__item swiper-slide">
          <p class="principles__subtitle">Первичное воздействие</p>
          <p class="principles__description">Препарат "Эспераль" вводится в организм с помощью подкожной имплантации
            (вживления) — обычно в области ягодицы или под лопатку. Под кожу устанавливается капсула или таблетка,
            содержащая активное вещество дисульфирам. Оно постепенно высвобождается в кровь.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="principles__block">
    <div class="svg_text">

    </div>
    <!-- <div class="principles__svg">

    </div>-->
  </div>
</section>
