<section class="reviews section-offset">
	<div class="content">
		<p class="section-title reviews__title"><span>Отзывы клиентов</span></p>
		<div class="reviews__inner swiper">
			<div class="swiper-wrapper">
				<div class="reviews__item swiper-slide">
					<div class="reviews__text">
						Капельница от похмелья в клинике «Трезвый путь» оказалась настоящим спасением. Состояние улучшилось уже через час, вернулась ясность мысли и силы. Врачи внимательные, всё прошло комфортно. Теперь знаю, что есть место, где помогут быстро и профессионально.
					</div>
					<p class="reviews__mark">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</p>
					<p class="reviews__name">Анна Мясникова</p>
					<p class="reviews__info">
						<span class="reviews__age">25 лет</span>
						<span class="reviews__city">г. Екатеринбург</span>
					</p>
				</div>
				<div class="reviews__item swiper-slide">
					<div class="reviews__text">
						Капельница от похмелья в клинике «Трезвый путь» оказалась настоящим спасением. Состояние улучшилось уже через час, вернулась ясность мысли и силы. Врачи внимательные, всё прошло комфортно. Теперь знаю, что есть место, где помогут быстро и профессионально.
					</div>
					<p class="reviews__mark">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</p>
					<p class="reviews__name">Анна Мясникова</p>
					<p class="reviews__info">
						<span class="reviews__age">25 лет</span>
						<span class="reviews__city">г. Екатеринбург</span>
					</p>
				</div>
				<div class="reviews__item swiper-slide">
					<div class="reviews__text">
						Капельница от похмелья в клинике «Трезвый путь» оказалась настоящим спасением. Состояние улучшилось уже через час, вернулась ясность мысли и силы. Врачи внимательные, всё прошло комфортно. Теперь знаю, что есть место, где помогут быстро и профессионально.
					</div>
					<p class="reviews__mark">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</p>
					<p class="reviews__name">Анна Мясникова</p>
					<p class="reviews__info">
						<span class="reviews__age">25 лет</span>
						<span class="reviews__city">г. Екатеринбург</span>
					</p>
				</div>
				<div class="reviews__item swiper-slide">
					<div class="reviews__text">
						Капельница от похмелья в клинике «Трезвый путь» оказалась настоящим спасением. Состояние улучшилось уже через час, вернулась ясность мысли и силы. Врачи внимательные, всё прошло комфортно. Теперь знаю, что есть место, где помогут быстро и профессионально.
					</div>
					<p class="reviews__mark">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</p>
					<p class="reviews__name">Анна Мясникова</p>
					<p class="reviews__info">
						<span class="reviews__age">25 лет</span>
						<span class="reviews__city">г. Екатеринбург</span>
					</p>
				</div>
			</div>
			<div class="nav-btns photos__nav-btns">
				<div class="nav-btn nav-btn_prev">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
				<div class="nav-btn nav-btn_next">
					<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
				</div>
			</div>
		</div>
	</div>
</section>