<section class="scheme-work container_b">
    <div class="scheme-work__wrap">
        <div class="scheme-work__top">
            <h2 class="scheme-work__title main-title"><span>Схема работы</span>
                наркологической клиники</h2>
        </div>
        <div class="scheme-work__content">
            <ul class="scheme-work__list">
                <li class="scheme-work__item">
                    <div class="scheme-work__top-container">
                        <div class="scheme-work__subtitle__wrapper">
                            <p class="scheme-work__subtitle">Диагностика</p>
                        </div>
                        <button
                            class="scheme-work__btn scheme-work__btn_open point-mark"><span></span><span></span></button>
                    </div>
                    <div class="scheme-work__bottom-container">
                        <div class="scheme-work__bottom-top">
                            <div class="scheme-work__bottom-text">
                                <p>На основе результатов обследования врач-нарколог определяет тактику лечения и составляет индивидуальную программу реабилитации.</p>
                            </div>
                            <div class="scheme-work__bottom-text">
                                <p><span class="scheme-work__bottom-circle"></span><span>Что входит в
                                        обследование</span></p>
                            </div>
                            <div class="scheme-work__bottom-transfers">
                                <div class="scheme-work__bottom-transfer">
                                    <p>лабораторная работа</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>общий и биохимический анализ крови</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>анализ на гепатиты В, С, ВИЧ</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>экспресс-тест на наркотические вещества</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>пульсоксиметрия</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>ЭКГ (электрокардиография)</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>УЗИ внутренних органов</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>инструментальные исследования</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>измерение артериального давления</p>
                                </div>
                            </div>
                        </div>
                        <div class="scheme-work__bottom-picture">
                            <picture>
                                <source srcset="./assets/img/photos/stethoscope.webp" type="image/webp">
                                <img src="./assets/img/photos/stethoscope.jpg" alt="Логотип">
                            </picture>
                        </div>
                </li>
                <li class="scheme-work__item">
                    <div class="scheme-work__top-container">
                        <div class="scheme-work__subtitle__wrapper">
                            <p class="scheme-work__subtitle">Диагностика</p>
                        </div>
                        <button
                            class="scheme-work__btn scheme-work__btn_open point-mark"><span></span><span></span></button>
                    </div>
                    <div class="scheme-work__bottom-container">
                        <div class="scheme-work__bottom-top">
                            <div class="scheme-work__bottom-text">
                                <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно
                                    контролировать.
                                    Длительное
                                    воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                                    предотвращать
                                    рецидивы.</p>
                            </div>
                            <div class="scheme-work__bottom-text">
                                <p><span class="scheme-work__bottom-circle"></span><span>Что входит в
                                        обследование</span></p>
                            </div>
                            <div class="scheme-work__bottom-transfers">
                                <div class="scheme-work__bottom-transfer">
                                    <p>лабораторная работа</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>общий и биохимический анализ крови</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>анализ на гепатиты В, С, ВИЧ</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>экспресс-тест на наркотические вещества</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>пульсоксиметрия</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>ЭКГ (электрокардиография)</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>УЗИ внутренних органов</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>инструментальные исследования</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>измерение артериального давления</p>
                                </div>
                            </div>
                        </div>
                        <div class="scheme-work__bottom-picture">
                            <picture>
                                <source srcset="./assets/img/photos/stethoscope.webp" type="image/webp">
                                <img src="./assets/img/photos/stethoscope.jpg" alt="Логотип">
                            </picture>
                        </div>
                </li>
                <li class="scheme-work__item">
                    <div class="scheme-work__top-container">
                        <div class="scheme-work__subtitle__wrapper">
                            <p class="scheme-work__subtitle">Диагностика</p>
                        </div>
                        <button
                            class="scheme-work__btn scheme-work__btn_open point-mark"><span></span><span></span></button>
                    </div>
                    <div class="scheme-work__bottom-container">
                        <div class="scheme-work__bottom-top">
                            <div class="scheme-work__bottom-text">
                                <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно
                                    контролировать.
                                    Длительное
                                    воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                                    предотвращать
                                    рецидивы.</p>
                            </div>
                            <div class="scheme-work__bottom-text">
                                <p><span class="scheme-work__bottom-circle"></span><span>Что входит в
                                        обследование</span></p>
                            </div>
                            <div class="scheme-work__bottom-transfers">
                                <div class="scheme-work__bottom-transfer">
                                    <p>лабораторная работа</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>общий и биохимический анализ крови</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>анализ на гепатиты В, С, ВИЧ</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>экспресс-тест на наркотические вещества</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>пульсоксиметрия</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>ЭКГ (электрокардиография)</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>УЗИ внутренних органов</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>инструментальные исследования</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>измерение артериального давления</p>
                                </div>
                            </div>
                        </div>
                        <div class="scheme-work__bottom-picture">
                            <picture>
                                <source srcset="./assets/img/photos/stethoscope.webp" type="image/webp">
                                <img src="./assets/img/photos/stethoscope.jpg" alt="Логотип">
                            </picture>
                        </div>
                </li>
                <li class="scheme-work__item">
                    <div class="scheme-work__top-container">
                        <div class="scheme-work__subtitle__wrapper">
                            <p class="scheme-work__subtitle">Диагностика</p>
                        </div>
                        <button
                            class="scheme-work__btn scheme-work__btn_open point-mark"><span></span><span></span></button>
                    </div>
                    <div class="scheme-work__bottom-container">
                        <div class="scheme-work__bottom-top">
                            <div class="scheme-work__bottom-text">
                                <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно
                                    контролировать.
                                    Длительное
                                    воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                                    предотвращать
                                    рецидивы.</p>
                            </div>
                            <div class="scheme-work__bottom-text">
                                <p><span class="scheme-work__bottom-circle"></span><span>Что входит в
                                        обследование</span></p>
                            </div>
                            <div class="scheme-work__bottom-transfers">
                                <div class="scheme-work__bottom-transfer">
                                    <p>лабораторная работа</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>общий и биохимический анализ крови</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>анализ на гепатиты В, С, ВИЧ</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>экспресс-тест на наркотические вещества</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>пульсоксиметрия</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>ЭКГ (электрокардиография)</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>УЗИ внутренних органов</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>инструментальные исследования</p>
                                </div>
                                <div class="scheme-work__bottom-transfer">
                                    <p>измерение артериального давления</p>
                                </div>
                            </div>
                        </div>
                        <div class="scheme-work__bottom-picture">
                            <picture>
                                <source srcset="./assets/img/photos/stethoscope.webp" type="image/webp">
                                <img src="./assets/img/photos/stethoscope.jpg" alt="Логотип">
                            </picture>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</section>
