<section class="search-more section-offset">
	<div class="content">
		<p class="section-title search-more__title"><span>Также ищут</span></p>
		<ul class="search-more__inner">
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
			<li><a href="#">Вылечить наркоманию</a></li>
		</ul>
	</div>
</section>