<section class="intro intro_service">
	<picture>
		<source srcset="assets/img/intro/vivod.webp" type="image/webp">
		<img src="assets/img/intro/vivod.jpg" alt="фон баннера первого экрана">
	</picture>
	<div class="content">
		<div class="intro__breadcrambs">
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/">Вывод из запоя</a></li>
				<li><span>Капельница от похмелья</span></li>
			</ul>
		</div>
		<h1 class="intro__title intro__title_service">
			Капельница от похмелья в Екатеринбурге и Свердловской области <br> от <span>3 500 рублей</span>
		</h1>
		<ul class="intro__pluses intro__pluses_service">
			<li>
				Гарантия соблюдения анонимности
				<div class="intro__hint">
					<span>?</span>
					<p>Не нужно предоставлять паспорт, не ставим на учет, не передаем данные третьим лицам</p>
				</div>
			</li>
			<li>
				При срыве повторный курс бесплатно
				<div class="intro__hint">
					<span>?</span>
					<p>После прохождения курса реабилитации или кодирования в нашей клинике мы гарантируем повторный курс бесплатно в случае срыва.</p>
				</div>
			</li>
			<li>
				Работаем 24/7 без праздников и выходных
				<div class="intro__hint">
					<span>?</span>
					<p>Можете звонить нам в любое время, даже ночью.</p>
				</div>
			</li>
			<li>
				Имеем 8 филиалов и 25 бригад
				<div class="intro__hint">
					<span>?</span>
					<p>Наши врачи дежурят по всему городу и области. Врач будет у вас дома в течение 30 минут.</p>
				</div>
			</li>
			<li>
				Сопровождение после лечения
				<div class="intro__hint">
					<span>?</span>
					<p>При склонности к срыву после вывода из запоя, предложим разные варианты кодирования со скидкой. Наша цель - довести до полной трезвости!</p>
				</div>
			</li>
			<li>
				Комфортная современная амбулатория
				<div class="intro__hint">
					<span>?</span>
					<p>Палаты с удобствами, здоровое 3-х разовое питание, круглосуточное наблюдение врачей, наличие VIP-палат.</p>
				</div>
			</li>
		</ul>
		<div class="intro__bottom-btns">
			<button class="button button_green button_large popup-btn" data-path="popup-call">
				Звонок в клинику
			</button>
			<button class="button button_red button_large popup-btn" data-path="popup-call">
				Бесплатная консультация
			</button>
		</div>
	</div>
</section>