<section class="services container_b">
  <h2 class="services__title main-title"><span>Услуги,</span> которые мы оказываем</h2>
  <div class="services__content">
    <ul class="services__list">
      <li class="sevrices__item">
        <div class="services__top-container">
          <div class="services__title__wrapper">
            <p class="services__title">Лечение алкоголизма</p>
            <p><span>12 специалистов</span>|<span>27 услуг</span></p>
          </div>
          <button class="services__btn_open point-mark"><span></span><span></span></button>
        </div>
        <div class="services__bottom-container">
          <div class="bottom-container__inner">
            <ul class="services__category-list">
              <li class="services__category-item active">Вывод из запоя на дому</li>
              <li class="services__category-item">Кодирование</li>
              <li class="services__category-item">Вывод из запоя в стационаре</li>
              <li class="services__category-item">Лечение в стационаре</li>
            </ul>
            <table>
              <thead>
                <tr class="services__table-title">
                  <th colspan="2">Название услуги</th>
                  <th>Стоимость</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
                <tr>
                  <td>Капельница + терапия Стандарт</td>
                  <td>2 000 ₽</td>
                  <td><button class="btn btn-popup">Записаться</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
