<section class="situation container_b">
  <h2 class="main-title situation__title">Знакомая ситуация?</h2>
  <div class="situation__body">
    <ul class="situation__content">
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
      <li class="situation__item swiper-slide">
        <span class="metods__separator"></span>
        <p>Устали от неудачных попыток лечения и пустых обещаний врачей?</p>
      </li>
    </ul>
  </div>
</section>
