<section class="stocks-page container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Акции</li>
    </ul>
  </div>
  <h2 class="stocks-page__title main-title"><span>Акции </span>клиники</h2>
  <div class="stocks-page__body">
    <div class="stocks-page__list pag-list pag-active">
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="/assets/img/photos/stocks-test.webp" type="image/webp">
          <img src="/assets/img/photos/stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="\assets\img\photos\stocks-test.webp" type="image/webp">
          <img src="\assets\img\photos\stocks-test.jpg" alt="Акция от клиники">
        </picture>
      </div>
    </div>
  </div>
  <button class="btn btn_call btn_light stocks-page__btn_more btn_more">
    <span>смотреть еще</span>
    <div class="point-mark point-plus"></div>
  </button>
  </div>
</section>
