<section class="stocks section-offset">
	<div class="content">
		<h2 class="section-title">
			<span>
				Акции
			</span>
	</h2>
	<div class="stocks__inner">
		<div class="stocks__card change-item">
			<div class="stocks__photo">
				<picture>
					<source srcset="assets/img/stocks/sale5.webp" type="image/webp">
					<img src="assets/img/stocks/sale5.jpg" alt="фото акции" loading="lazy">
				</picture>
			</div>
			<div class="stocks__text">
				<p class="stocks__title change-title">
					Значительные скидки при разовой оплате полугодового курса реабилитации
				</p>
				<p class="stocks__des">
					При единоразовой оплате курса реабилитации сроком 6 месяцев в нашем центре, вы получите значительную скидку(до 20 процентов)
				</p>
			</div>
			<button class="stocks__button button button_red button_large button_fill popup-btn" data-path="popup-change">Заказать</button>
		</div>
		<div class="stocks__card change-item">
			<div class="stocks__photo">
				<picture>
					<source srcset="assets/img/stocks/sale1.webp" type="image/webp">
					<img src="assets/img/stocks/sale1.jpg" alt="фото акции" loading="lazy">
				</picture>
			</div>
			<div class="stocks__text">
				<p class="stocks__title change-title">
					Значительные скидки при разовой оплате полугодового курса реабилитации
				</p>
				<p class="stocks__des">
					При единоразовой оплате курса реабилитации сроком 6 месяцев в нашем центре, вы получите значительную скидку(до 20 процентов)
				</p>
			</div>
			<button class="stocks__button button button_red button_large button_fill popup-btn" data-path="popup-change">Заказать</button>
		</div>
	</div>
</section>