<section class="stocks slider-hl container_b to_animate down-fade">
  <h2 class="stocks__title main-title"><span>Акции</span> клиники
  </h2>
  <div class="stocks__body slider-hl__swiper">
    <div class="stocks__list swiper-wrapper">
      <div class="stocks-page__item swiper-slide">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="/assets/img/photos/stocks-test.webp" type="image/webp">
          <img src="/assets/img/photos/stocks-test.jpg" loading="lazy" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item swiper-slide">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="/assets/img/photos/stocks-test.webp" type="image/webp">
          <img src="/assets/img/photos/stocks-test.jpg" loading="lazy" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item swiper-slide">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="/assets/img/photos/stocks-test.webp" type="image/webp">
          <img src="/assets/img/photos/stocks-test.jpg" loading="lazy" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item swiper-slide">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="/assets/img/photos/stocks-test.webp" type="image/webp">
          <img src="/assets/img/photos/stocks-test.jpg" loading="lazy" alt="Акция от клиники">
        </picture>
      </div>
      <div class="stocks-page__item swiper-slide">
        <div class="stocks-page__item__content">
          <p class="stocks-page__subtitle">Бесплатная консультация по кодированию от алкоголизма</p>
          <p class="stocks-page__caption">Мы помогаем вернуться к полноценной жизни, используя инновационные методики и
            персональный подход к каждому пациенту</p>
          <button href="#" class="btn btn_call btn_light stocks-page__button popup-btn" data-path="popup-consult">
            <span>записаться</span>
            <div class="point-mark point-plus"></div>
          </button>
        </div>
        <picture class="stocks-page__picture">
          <source src="/assets/img/photos/stocks-test.webp" type="image/webp">
          <img src="/assets/img/photos/stocks-test.jpg" loading="lazy" alt="Акция от клиники">
        </picture>
      </div>
    </div>
    <div class="swiper-btn-container">
      <button class="stocks__nav swiper-btn swiper-btn_left">
      </button>
      <button class="stocks__nav swiper-btn swiper-btn_right">
      </button>
    </div>
  </div>
</section>
