<section class="text text-article container_b">
  <div class="text__wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item">Методы оказания помощи</li>
      </ul>
    </div>
    <h1 class="text-article__title main-title"><span>Методы </span>оказания помощи</h1>
  </div>
  <div class="text-article__container">
    <div class="text__content">
      <h2>H2 Ut modi et.Officia ad atque dignissimos necessitatibus excepturi quo vel commodi est</h2>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно.</p>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <ul>
        <li>Лабораторная диагностика</li>
        <li>Лабораторная диагностика</li>
        <li>Лабораторная диагностика</li>
        <li>Лабораторная диагностика</li>
      </ul>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <h3>H3 Название статьи</h3>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <h4>Н4 Название статьи</h4>
      <ol>
        <li>Анализ на гепатиты В,С, ВИЧ</li>
        <li>Анализ на гепатиты В,С, ВИЧ</li>
        <li>Анализ на гепатиты В,С, ВИЧ</li>
      </ol>
      <blockquote>
        — А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений.
        <div class="blockquote-expert">
          <img src="./assets/img/photos/doctor-test.webp" loading="lazy" alt="Мнение врача">
          <div class="blockquote-expert__text">
            <p class="blockquote-expert__name">Константинопольский Константин Константинович</p>
            <p class="blockquote-expert__job">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
              психиатр-нарколог</p>
          </div>
        </div>
      </blockquote>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно.</p>

    </div>
    <aside class="text__aside">
      <picture><img class="text__aside-image" src="./assets/img/photos/patient-hand.webp" loading="lazy" alt="Осмотр паациента">
      </picture>
    </aside>
  </div>
</section>
