<section class="text text-article container_b">
  <div class="text__wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/blog.html">Блог</a></li>
        <li class="breadcrumbs__item">Последствия употребления Фенибута c алкоголем</li>
      </ul>
    </div>
    <h1 class="text-article__title main-title">Последствия употребления Фенибута c алкоголем</h1>
  </div>
  <div class="text-article__container">
    <div class="text__content">
      <h2>Чем запой опасен для организма?</h2>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно.</p>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <ul>
        <li>Лабораторная диагностика</li>
        <li>Лабораторная диагностика</li>
        <li>Лабораторная диагностика</li>
        <li>Лабораторная диагностика</li>
      </ul>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <h3>H3 Название статьи</h3>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <h4>Н4 Название статьи</h4>
      <ol>
        <li>Анализ на гепатиты В,С, ВИЧ</li>
        <li>Анализ на гепатиты В,С, ВИЧ</li>
        <li>Анализ на гепатиты В,С, ВИЧ</li>
      </ol>
      <blockquote>
        — А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений.
        <div class="blockquote-expert">
          <img src="/assets/img/photos/doctor-test.webp" alt="Мнение врача">
          <div class="blockquote-expert__text">
            <p class="blockquote-expert__name">Константинопольский Константин Константинович</p>
            <p class="blockquote-expert__job">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
              психиатр-нарколог</p>
          </div>
        </div>
      </blockquote>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно. А также представители современных социальных резервов
        заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
        представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
      <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
        ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
        политического участия и описаны максимально подробно.</p>

    </div>
    <aside class="text__aside">
      <div class="autocontent">
        <div class="autocontent__top-container">
          <div class="autocontent__subtitle__wrapper">
            <p class="autocontent__subtitle">Содержание статьи</p>
            <button class="autocontent__btn autocontent__btn_open point-mark">
              <span></span><span></span>
            </button>
          </div>
        </div>
        <div class="autocontent__bottom-container">
          <ul class="autocontent__list hide-items">

          </ul>
        </div>
      </div>
      <section class="calculator">
        <div class="calculator__block">
          <div class="calculator__content">
            <p class="calculator__title main-title"><span>Калькулятор</span> стоимости кодирования</p>
            <p class="calculator__caption">Ваш надежный помощник в мире трезвости! Узнайте, сколько времени нужно, чтобы
              алкоголь полностью вышел из организма</p>
            <button class="btn calculator__button popup-btn btn_consult btn_accent" data-path="popup-calculator">
              <span>рассчитать</span>
              <div class="point-mark"><span></span><span></span></div>
            </button>
          </div>
        </div>
      </section>
      <picture><img class="text__aside-image" src="\assets\img\photos\patient-hand.webp" alt="Осмотр паациента">
      </picture>
      <div class="preparation__plashka">
        <p>Скачайте план обязательного обследования для вашего удобства</p>
        <a href="" class="btn btn_call btn_light preparation__download" download="">
          <span>скачать ПДФ</span>
          <div class="point-mark point-plus"></div>
        </a>
      </div>
      <picture><img class="text__aside-image" src="\assets\img\photos\patient-hand.webp" alt="Осмотр паациента">
      </picture>
      <div class="lechenie-accent">
        <div class="lechenie-accent__body">
          <p class="lechenie-accent__title">Не откладывайте лечение, если приняли решение!</p>
          <form class="lechenie-accent__form">
            <input name="params[phone][]" type="tel" required class="input lechenie-accent__input"
              placeholder="+7 (999) 999-99-99">
            <label class="checkbox">
              <input type="checkbox" checked="checked" required="">
              <span class="checkbox-mark"></span>
              <span>Нажимая на кнопку, я даю согласие на обработку
                персональных данных согласно <a href="#" rel="nofollow">политики конфиденциальности</a></span>
            </label>
            <button type="submit" class="btn btn_call btn_light lechenie-accent__button">
              <span> бесплатная консультация</span>
              <div class="point-mark point-plus"></div>
            </button>
          </form>
        </div>
      </div>
      <picture><img class="text__aside-image" src="\assets\img\photos\patient-hand.webp" alt="Осмотр паациента">
      </picture>
      <div class="reviewers">
        <div class="reviewers__block autor">
          <span>Автор статьи</span>
          <div class="reviewers__expert">
            <img class="reviewers__expert-img" src="/assets/img/photos/doctor-test.webp" alt="Проверяющий">
            <div class="reviewers__expert-text">
              <p class="reviewers__expert-name"><a href="#">Иванов Иван Иванович</a></p>
              <p class="reviewers__expert-job">Врач психиатр-нарколог</p>
            </div>
          </div>
        </div>
        <div class="reviewers__block reviewer">
          <span>Проверяющий статьи</span>
          <div class="reviewers__expert">
            <img class="reviewers__expert-img" src="/assets/img/photos/doctor-test.webp" alt="Проверяющий">
            <div class="reviewers__expert-text">
              <p class="reviewers__expert-name"><a href="#">Константинопольский Константин Константинович</a></p>
              <p class="reviewers__expert-job">Главный врач клиники ТорпедоМед, врач психиатр-нарколог</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text__aside__toolsbar">
        <div class="rating btn btn_consult btn_accent">
          <span>оценить статью</span>
          <form class="rating__body">





            <input id="rat-5" name="rat" type="radio" value="5">
            <label for="rat-5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path class="star" fill="#4995EC"
                  d="M7.15 3.4C8.41 1.13 9.05 0 10 0c.94 0 1.58 1.13 2.84 3.4l.33.59c.36.65.54.97.82 1.18.28.22.63.29 1.33.45l.64.15c2.45.55 3.69.83 3.98 1.77.29.94-.55 1.92-2.22 3.88l-.44.51c-.47.56-.71.84-.82 1.18-.11.35-.07.72 0 1.46l.07.68c.25 2.62.38 3.92-.39 4.5-.77.59-1.92.06-4.22-1l-.6-.28c-.65-.3-.98-.45-1.32-.45-.35 0-.68.15-1.33.45l-.6.28c-2.3 1.06-3.45 1.59-4.22 1-.77-.58-.64-1.88-.39-4.5l.07-.68c.07-.74.11-1.11 0-1.46-.11-.34-.35-.62-.82-1.18l-.44-.51C.6 9.46-.24 8.48.05 7.54c.29-.94 1.53-1.22 3.98-1.77l.64-.15c.7-.16 1.05-.23 1.33-.45.28-.21.46-.53.82-1.18l.33-.59Z">
                </path>
              </svg>
            </label>
            <input id="rat-4" name="rat" type="radio" value="4">
            <label for="rat-4">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path class="star" fill="#4995EC"
                  d="M7.15 3.4C8.41 1.13 9.05 0 10 0c.94 0 1.58 1.13 2.84 3.4l.33.59c.36.65.54.97.82 1.18.28.22.63.29 1.33.45l.64.15c2.45.55 3.69.83 3.98 1.77.29.94-.55 1.92-2.22 3.88l-.44.51c-.47.56-.71.84-.82 1.18-.11.35-.07.72 0 1.46l.07.68c.25 2.62.38 3.92-.39 4.5-.77.59-1.92.06-4.22-1l-.6-.28c-.65-.3-.98-.45-1.32-.45-.35 0-.68.15-1.33.45l-.6.28c-2.3 1.06-3.45 1.59-4.22 1-.77-.58-.64-1.88-.39-4.5l.07-.68c.07-.74.11-1.11 0-1.46-.11-.34-.35-.62-.82-1.18l-.44-.51C.6 9.46-.24 8.48.05 7.54c.29-.94 1.53-1.22 3.98-1.77l.64-.15c.7-.16 1.05-.23 1.33-.45.28-.21.46-.53.82-1.18l.33-.59Z">
                </path>
              </svg>
            </label>
            <input id="rat-3" name="rat" type="radio" value="3">
            <label for="rat-3">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path class="star" fill="#4995EC"
                  d="M7.15 3.4C8.41 1.13 9.05 0 10 0c.94 0 1.58 1.13 2.84 3.4l.33.59c.36.65.54.97.82 1.18.28.22.63.29 1.33.45l.64.15c2.45.55 3.69.83 3.98 1.77.29.94-.55 1.92-2.22 3.88l-.44.51c-.47.56-.71.84-.82 1.18-.11.35-.07.72 0 1.46l.07.68c.25 2.62.38 3.92-.39 4.5-.77.59-1.92.06-4.22-1l-.6-.28c-.65-.3-.98-.45-1.32-.45-.35 0-.68.15-1.33.45l-.6.28c-2.3 1.06-3.45 1.59-4.22 1-.77-.58-.64-1.88-.39-4.5l.07-.68c.07-.74.11-1.11 0-1.46-.11-.34-.35-.62-.82-1.18l-.44-.51C.6 9.46-.24 8.48.05 7.54c.29-.94 1.53-1.22 3.98-1.77l.64-.15c.7-.16 1.05-.23 1.33-.45.28-.21.46-.53.82-1.18l.33-.59Z">
                </path>
              </svg>
            </label>
            <input id="rat-2" name="rat" type="radio" value="2">
            <label for="rat-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path class="star" fill="#4995EC"
                  d="M7.15 3.4C8.41 1.13 9.05 0 10 0c.94 0 1.58 1.13 2.84 3.4l.33.59c.36.65.54.97.82 1.18.28.22.63.29 1.33.45l.64.15c2.45.55 3.69.83 3.98 1.77.29.94-.55 1.92-2.22 3.88l-.44.51c-.47.56-.71.84-.82 1.18-.11.35-.07.72 0 1.46l.07.68c.25 2.62.38 3.92-.39 4.5-.77.59-1.92.06-4.22-1l-.6-.28c-.65-.3-.98-.45-1.32-.45-.35 0-.68.15-1.33.45l-.6.28c-2.3 1.06-3.45 1.59-4.22 1-.77-.58-.64-1.88-.39-4.5l.07-.68c.07-.74.11-1.11 0-1.46-.11-.34-.35-.62-.82-1.18l-.44-.51C.6 9.46-.24 8.48.05 7.54c.29-.94 1.53-1.22 3.98-1.77l.64-.15c.7-.16 1.05-.23 1.33-.45.28-.21.46-.53.82-1.18l.33-.59Z">
                </path>
              </svg>
            </label>
            <input id="rat-1" name="rat" type="radio" value="1">
            <label for="rat-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path class="star" fill="#4995EC"
                  d="M7.15 3.4C8.41 1.13 9.05 0 10 0c.94 0 1.58 1.13 2.84 3.4l.33.59c.36.65.54.97.82 1.18.28.22.63.29 1.33.45l.64.15c2.45.55 3.69.83 3.98 1.77.29.94-.55 1.92-2.22 3.88l-.44.51c-.47.56-.71.84-.82 1.18-.11.35-.07.72 0 1.46l.07.68c.25 2.62.38 3.92-.39 4.5-.77.59-1.92.06-4.22-1l-.6-.28c-.65-.3-.98-.45-1.32-.45-.35 0-.68.15-1.33.45l-.6.28c-2.3 1.06-3.45 1.59-4.22 1-.77-.58-.64-1.88-.39-4.5l.07-.68c.07-.74.11-1.11 0-1.46-.11-.34-.35-.62-.82-1.18l-.44-.51C.6 9.46-.24 8.48.05 7.54c.29-.94 1.53-1.22 3.98-1.77l.64-.15c.7-.16 1.05-.23 1.33-.45.28-.21.46-.53.82-1.18l.33-.59Z">
                </path>
              </svg>
            </label>
            <input name="rat" value="0" type="radio" disabled="" checked="">
          </form>
        </div>
        <button class="btn copylink-btn btn_consult btn_accent">
          <span class="copylink-btn__text">поделиться ссылкой на статью</span>
          <div class="point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 20.9">
              <path fill="#FFF"
                d="m14.6.8 7 6.3c1.3 1.2 2 1.7 2.2 2.4.3.6.3 1.3 0 1.9-.2.7-.9 1.3-2.2 2.4l-7 6.3c-.6.6-1 .8-1.2.8-.2 0-.4 0-.6-.2l-.1-1.4v-4c-3.5 0-7.1 1.1-9.8 3C1.6 19.5 1 20 .6 20a.7.7 0 0 1-.5-.3c-.2-.3 0-1 .2-2.4C1.8 8.1 8.2 5.6 12.7 5.6v-4l.1-1.4.6-.2c.3 0 .6.3 1.2.8Z" />
            </svg>
          </div>
        </button>
      </div>
    </aside>
  </div>
</section>
