<section class="text container_b">
  <div class="text__content">
    <h2 class="text__title main-title"><span>Чем запой опасен</span> для организма?</h2>
    <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно.</p>
    <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно. А также представители современных социальных резервов
      заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
      представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
    <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно. А также представители современных социальных резервов
      заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
      представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
    <ul>
      <li>Лабораторная диагностика</li>
      <li>Лабораторная диагностика</li>
      <li>Лабораторная диагностика</li>
      <li>Лабораторная диагностика</li>
    </ul>
    <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно. А также представители современных социальных резервов
      заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
      представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
    <h3>H3 Название статьи</h3>
    <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно. А также представители современных социальных резервов
      заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
      представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
    <h4>Н4 Название статьи</h4>
    <ol>
      <li>Анализ на гепатиты В,С, ВИЧ</li>
      <li>Анализ на гепатиты В,С, ВИЧ</li>
      <li>Анализ на гепатиты В,С, ВИЧ</li>
    </ol>
    <blockquote>
      — А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно. А также представители современных социальных резервов
      заблокированы в рамках своих собственных рациональных ограничений.
      <div class="blockquote-expert">
        <img src="./assets/img/photos/doctor-test.webp" alt="Мнение врача">
        <div class="blockquote-expert__text">
          <p class="blockquote-expert__name">Константинопольский Константин Константинович</p>
          <p class="blockquote-expert__job">Главный врач клиники ТорпедоМед, врач психиатр-нарколог, врач
            психиатр-нарколог</p>
        </div>
      </div>
    </blockquote>
    <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно. А также представители современных социальных резервов
      заблокированы в рамках своих собственных рациональных ограничений. Приятно, граждане, наблюдать, как действия
      представителей оппозиции являются только методом политического участия и описаны максимально подробно.</p>
    <p>А также представители современных социальных резервов заблокированы в рамках своих собственных рациональных
      ограничений. Приятно, граждане, наблюдать, как действия представителей оппозиции являются только методом
      политического участия и описаны максимально подробно.</p>

  </div>
  <aside class="text__aside">

    <div class="autocontent">
      <div class="autocontent__top-container">
        <div class="autocontent__subtitle__wrapper">
          <p class="autocontent__subtitle">Содержание статьи</p>
          <button class="autocontent__btn autocontent__btn_open point-mark">
            <span></span><span></span>
          </button>
        </div>
      </div>
      <div class="autocontent__bottom-container">
        <ul class="autocontent__list hide-items">

        </ul>
      </div>
    </div>

    <picture><img class="text__aside-image" src="./assets/img/photos/patient-hand.webp" alt="Осмотр паациента"></picture>
    <section class="calculator">
      <div class="calculator__block">
        <div class="calculator__content">
          <p class="calculator__title main-title"><span>Калькулятор</span> стоимости кодирования</p>
          <p class="calculator__caption">Ваш надежный помощник в мире трезвости! Узнайте, сколько времени нужно, чтобы
            алкоголь полностью вышел из организма</p>
          <button class="btn calculator__button popup-btn btn_consult btn_accent" data-path="popup-calculator">
            <span>рассчитать</span>
            <div class="point-mark"><span></span><span></span></div>
          </button>
        </div>
      </div>
    </section>
    <picture><img class="text__aside-image" src="./assets/img/photos/patient-hand.webp" alt="Осмотр паациента"></picture>
    <div class="preparation__plashka">
      <p>Скачайте план обязательного обследования для вашего удобства</p>
      <a href="" class="btn btn_call btn_light preparation__download" download="">
        <span>скачать ПДФ</span>
        <div class="point-mark point-plus"></div>
      </a>
    </div>
  </aside>
</section>
