<section class="trust section-offset">
	<div class="content">
		<p class="section-title">
			<span>
				Почему НАМ стоит доверять?
			</span>
		</p>
		<div class="trust__inner">
			<div class="trust__item">
				<span>100%</span>
				<p>Выведение из запоя</p>
			</div>
			<div class="trust__item">
				<p>Более</p>
				<span>2500</span>
				<p>Вылеченных пациентов
					только за этот год</p>
			</div>
			<div class="trust__item">
				<span>12 лет</span>
				<p>Успешного опыта работы</p>
			</div>
		</div>
		<div class="trust__video swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="https://youtu.be/FMKislOBmCI" class="modalbox" data-fancybox="" rel="nofollow">
						<img src="assets/img/trust/video_preview_1.webp" alt="Превью для видео">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="https://youtu.be/uS9Y1MrQ1kc" class=" modalbox" data-fancybox="" rel="nofollow">
						<img src="assets/img/trust/video_preview_2.webp" alt="Превью для видео">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="https://youtu.be/MvkhWK4B_fY" class="modalbox" data-fancybox="" rel="nofollow">
						<img src="assets/img/trust/video_preview_3.webp" alt="Превью для видео">
					</a>
				</div>
			</div>
		</div>
		<div class="trust__nav-btns">
			<div class="trust__nav-btn trust__nav-btn_prev">
				<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
			</div>
			<div class="trust__nav-btn trust__nav-btn_next">
				<img src="assets/img/icons/arrow-button.png" alt="кнопка со стрелкой">
			</div>
		</div>
	</div>
</section>