<section class="part-team container_b">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Главная</a></li>
      <li class="breadcrumbs__item">Вакансии</li>
    </ul>
  </div>
  <div class="part-team__wrap">
    <div class="part-team__top">
      <h1 class="part-team__title main-title"><span>Станьте частью</span> команды</h1>
      <p class="part-team__top-text">Заинтересовала вакансия? Тогда свяжитесь с нами</p>
      <div class="part-team__connection">
        <div class="part-team__connection-item">
          <p class="part-team__connection-name">
            Телефон
          </p>
          <a href="tel:+79999999999">+7 999 999-99-99</a>
        </div>
        <div class="part-team__connection-item">
          <p class="part-team__connection-name">
            Почта
          </p>
          <a href="mailto:info@torpedo-med.ru">info@torpedo-med.ru</a>
        </div>
      </div>
    </div>
    <div class="part-team__content">
      <ul class="part-team__list">
        <li class="part-team__item">
          <div class="part-team__top-container">
            <div class="part-team__subtitle__wrapper">
              <p class="part-team__subtitle">Фельдшер скорой медицинской помощи</p>
            </div>
            <button class="part-team__btn part-team__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="part-team__bottom-container">
            <div class="part-team__bottom-items">
              <div class="part-team__bottom-item">
                <p>Опыт работы</p>
                <p class="part-team__bottom-text">1-3 года</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Занятость</p>
                <p class="part-team__bottom-text">Полная занятость</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>График</p>
                <p class="part-team__bottom-text">Сменный график работы</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Заработная плата</p>
                <p class="part-team__bottom-text">от 70 000 ₽</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Основные задачи</p>
                <p class="part-team__bottom-text">Ясность нашей позиции очевидна:
                  синтетическое тестирование играет важную роль в формировании
                  благоприятных перспектив.</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Требования</p>
                <p class="part-team__bottom-text">Ясность нашей позиции очевидна:
                  синтетическое тестирование играет важную роль в формировании
                  благоприятных перспектив.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="part-team__item">
          <div class="part-team__top-container">
            <div class="part-team__subtitle__wrapper">
              <p class="part-team__subtitle">Фельдшер скорой медицинской помощи</p>
            </div>
            <button class="part-team__btn part-team__btn_open point-mark"><span></span><span></span></button>
          </div>
          <div class="part-team__bottom-container">
            <div class="part-team__bottom-items">
              <div class="part-team__bottom-item">
                <p>Опыт работы</p>
                <p class="part-team__bottom-text">1-3 года</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Занятость</p>
                <p class="part-team__bottom-text">Полная занятость</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>График</p>
                <p class="part-team__bottom-text">Сменный график работы</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Заработная плата</p>
                <p class="part-team__bottom-text">от 70 000 ₽</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Основные задачи</p>
                <p class="part-team__bottom-text">Ясность нашей позиции очевидна:
                  синтетическое тестирование играет важную роль в формировании
                  благоприятных перспектив.</p>
                <div><span></span></div>
              </div>
              <div class="part-team__bottom-item">
                <p>Требования</p>
                <p class="part-team__bottom-text">Ясность нашей позиции очевидна:
                  синтетическое тестирование играет важную роль в формировании
                  благоприятных перспектив.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>
